&lt;!-- Begin .header --&gt;
&lt;header class=&quot;site-header&quot; id=&quot;top&quot; role=&quot;banner&quot;&gt;
  &lt;a class=&quot;skip-link&quot; href=&quot;#content&quot;&gt;Skip to main content&lt;/a&gt;
	{{&gt; atoms-logo }}

	&lt;a class=&quot;btn btn-menu&quot; href=&quot;#navigation&quot; title=&quot;To website navigation.&quot;&gt;Menu&lt;/a&gt;

	{{&gt; molecules-primary-nav }}
&lt;/header&gt;
&lt;!-- End .header --&gt;
