&lt;nav class=&quot;breadcrumbs&quot; id=&quot;breadcrumbs&quot;&gt;
    &lt;ul&gt;
    	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Parent&lt;/a&gt;&lt;/li&gt;
    	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Child&lt;/a&gt;&lt;/li&gt;
    	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Grandchild&lt;/a&gt;&lt;/li&gt;
    	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Great-Grandchild&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
