<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location_group.name %>
</p>


<%= link_to 'Edit', edit_location_group_path(@location_group) %> |
<%= link_to 'Back', location_groups_path %>
