<p><a href="#" class="btn">Button</a></p>
<p><a href="#navigation" class="btn btn-menu">Menu</a></p>
<p><a href="#" class="btn btn-alt">Alternate Button</a></p>
<p><a href="#navigation" class="btn btn-primary">Primary Button</a></p>
<p><input class="btn btn-submit" type="submit" value="submit"></p>
