<p><a class="btn btn-alt incident-detailreport-link" href="{{ link.template-incident-adopt }}" title="help get more information about this incident">Adopt this incident</a></p>
<p><a class="btn detail-report-link">Detail Report Requested</a></p>
<p><a class="btn btn-alt incident-detailreport-link" href="<%= @incident.detailed_report.url %>" title="Download the Incident Detail Report for this incident to find more information">See Incident Detail Report [PDF]</a></p>