{{&gt; organisms-header }}

{{&gt; organisms-sub-navigation(breadcrumbs: true) }}

&lt;section class=&quot;body-container&quot; id=&quot;content&quot; role=&quot;main&quot;&gt;
    &lt;article class=&quot;main-reading h-entry&quot;&gt;
        &lt;header class=&quot;article-header&quot;&gt;
            &lt;h1 class=&quot;p-name&quot;&gt;Reporting Recipe&lt;/h1&gt;
        &lt;/header&gt;
        &lt;section class=&quot;e-content article-body text-block&quot;&gt;
            {{&gt; molecules-contents-block }}

            {{&gt; organisms-article-body }}
        &lt;/section&gt;
    &lt;/article&gt;
&lt;/section&gt;

{{&gt; organisms-footer }}
