 &lt;article class=&quot;incident incident-show-body&quot; role=&quot;main&quot;&gt;
    &lt;section class=&quot;incident-show-body-primary&quot;&gt;
        &lt;h1 class=&quot;page-title&quot;&gt;Incident {{ incident.number }}&lt;/h1&gt;

        &lt;a class=&quot;btn btn-alt incident-detailreport-link&quot; href=&quot;{{ link.templates-incident-adopt }}&quot; title=&quot;Help get more information about this incident.&quot;&gt;Adopt this incident&lt;/a&gt;&lt;/em&gt;

        &lt;a class=&quot;supporting help&quot; href=&quot;/data/incidents/about&quot; title=&quot;About Incident Reports.&quot;&gt;What is an incident report?&lt;/a&gt;

        &lt;dl class=&quot;incident-data-list incident-primary-meta&quot;&gt;
            &lt;dt class=&quot;incident-field-label incident-type&quot;&gt;Type&lt;/dt&gt;
                &lt;dd class=&quot;incident-field-value incident-type&quot;&gt;{{ incident.type }}&lt;/dd&gt;

            &lt;dt class=&quot;incident-field-label incident-occurred-on&quot;&gt;Occurred On&lt;/dt&gt;
                &lt;dd class=&quot;incident-field-value incident-occurred-on&quot;&gt;&lt;time&gt;{{ day.long }} {{ month.short }} {{ year.long }} {{ hour.long }}:{{ minute.long }}&lt;/time&gt;&lt;/dd&gt;

            &lt;dt class=&quot;incident-field-label incident-location&quot;&gt;Location&lt;/dt&gt;
                &lt;dd class=&quot;incident-field-value incident-location&quot;&gt;{{ incident.location }}&lt;/dd&gt;
        &lt;/dl&gt;

        &lt;dl class=&quot;incident-summary&quot;&gt;
            &lt;dt class=&quot;incident-field-label incident-summary&quot;&gt;Incident Summary&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-summary&quot;&gt;{{ incident.summary }}&lt;/dd&gt;
        &lt;/dl&gt;
    &lt;/section&gt;

    &lt;dl class=&quot;incident-secondary&quot;&gt;
        &lt;dt class=&quot;incident-field-label incident-informed-by&quot;&gt;Informed By&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-informed-by&quot;&gt;{{ incident.informed_by }}&lt;/dd&gt;

        &lt;dt class=&quot;incident-field-label incident-level&quot;&gt;Level&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-level&quot;&gt;{{ incident.level }}&lt;/dd&gt;

        &lt;dt class=&quot;incident-field-label incident-number&quot;&gt;Incident Number&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-number&quot;&gt;{{ incident.number }}&lt;/dd&gt;

        &lt;dt class=&quot;incident-field-label incident-location-details&quot;&gt;Location Details&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-location-details&quot;&gt;{{ incident.location_details }}&lt;/dd&gt;
    &lt;/dl&gt;

    &lt;!-- Location information --&gt;

    &lt;p class=&quot;msg msg-information&quot;&gt;If you have any issues, concerns, questions or suggestions regarding this data please &lt;a href=&quot;/about/#contact&quot; title=&quot;Contact Detention Logs&quot;&gt;contact Detention&amp;nbsp;Logs&lt;/a&gt;.&lt;/p&gt;
&lt;/article&gt;