{{> organisms-header }}

{{> organisms-sub-navigation(breadcrumbs: true) }}

<section class="body-container" id="content" role="main">
    <article class="main-reading h-entry">
        <header class="article-header">
            <h1 class="p-name">Reporting Recipe</h1>
        </header>
        <section class="e-content article-body text-block">
            {{> molecules-contents-block }}

            {{> organisms-article-body }}
        </section>
    </article>
</section>

{{> organisms-footer }}
