{{> organisms-header }}
{{> organisms-sub-navigation(breadcrumbs: true, toggle-class: "has-breadcrumbs") }}

<section class="body-container" role="main">
    <article class="main-reading incident-adopt-body">
        {{> organisms-incident-adopt-action }}

        <p>Request the Detailed Incident Report from the Immigration Department. It’s easy. Freedom of Information (FOI) laws allow anyone to access government documents. We’ve used the Right To Know FOI tool so you can do this in just a few clicks.</p>

        <h2 id="what">What is a Detailed Incident Report?</h2>

        <p>The Detailed Incident Report reveals more of the Government’s information about the incident such as the names of staff who were involved, a more detailed account of what happened, and which other incidents are related to this one. These reports are extremely useful for investigating the detention network and provide important information about a range of detention issues. For example, see <a href="http://s3.amazonaws.com/detention_logs/incidents/detailed_reports/000/050/330/original/1-3CTBC9.pdf?1370745305">Detailed Incident Report 1-3CTBC9</a> and compare to the <a href="http://detentionlogs.com.au/data/incidents/50330">summary incident report</a>.</p>

        <h2 id="why-do-it">Why make a request?</h2>

        <p>This is a way for everybody to help increase transparency and accountability in Australian detention facilities. If this is an incident that you think warrants further investigation, if you think it raises more questions than it answers or if you simply want more details about it then this is how to get them. Adopting this incident is a great way you can contribute to the Detention Logs project.</p>

        <h2 id="what-to-expect">What should I expect?</h2>

        <p>Lodging a freedom of information request is easy. There is no application fee so all you need to do is <a href="{{ url }}" title="opens a prefilled Freedom of Information request using the Right To Know FOI tool">follow the ‘Adopt Incident {{ incident.number }}’ link</a>. You’ll find a pre-written request for the detailed report of the incident summary you were just exploring (<a href="/data/incidents/50639" title="Go back to the summary of Incident 1-2PK97X">Incident {{ incident.number }}</a>).</p>

        <p>The work of communicating back and forth with your FOI decision maker gets handled through the Right to Know website, a fantastic tool that makes it easy to use Australia’s FOI system. At Right To Know requests are listed publicly which means that others can help you with your request if anything comes up, and once released, the documents you request go public straight away. We’ll add those documents to the incident reports on our site so everyone can access this public information.</p>

        <p>Once the Department of Immigration and Citizenship has acknowledged your request, one of the first things they’ll do is request an extension of time. We recommend you don’t consent to this extension because the documents you’ll be requesting aren’t very long and it shouldn’t take them much time to process.</p>

        <p>If you request too many incidents the Department may try to charge you or say that it’s an unreasonable diversion of their resources and refuse to process it. We recommend that you limit the amount of incidents you request at any one time to between one and five to reduce any potential costs.</p>

        <h2>More information</h2>

        <ul>
            <li><a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Learn more about FOI</a></li>
            <li><a href="https://www.righttoknow.org.au/">Check out the Right To Know project</a>.</li>
        </ul>
    </article>
</section>

{{> organisms-footer }}
