&lt;section class=&quot;incident-river&quot;&gt;
    &lt;ol class=&quot;incident-river-header-row&quot;&gt;
        &lt;li class=&quot;incident-occurred-on&quot;&gt;Occurred&lt;/li&gt;
        &lt;li class=&quot;incident-type&quot;&gt;Type&lt;/li&gt;
        &lt;li class=&quot;incident-location&quot;&gt;Location&lt;/li&gt;
        &lt;li class=&quot;incident-summary&quot;&gt;Summary&lt;/li&gt;
        &lt;li class=&quot;incident-location-details&quot;&gt;Location Details&lt;/li&gt;
        &lt;li class=&quot;incident-number&quot;&gt;Number&lt;/li&gt;
    &lt;/ol&gt;

    &lt;ol class=&quot;incident-river-body&quot;&gt;
        {{#listItems.twelve}}
        &lt;li&gt;
            {{&gt; molecules-incident-index-row }}
        &lt;/li&gt;
        {{/listItems.twelve}}
    &lt;/ol&gt;
&lt;/section&gt;
