&lt;footer class=&quot;site-footer&quot; role=&quot;contentinfo&quot;&gt;
    &lt;nav class=&quot;footer-nav&quot; id=&quot;navigation&quot; role=&quot;navigation&quot;&gt;
        {{&gt; molecules-primary-nav }}
        {{&gt; molecules-secondary-nav }}
    &lt;/nav&gt;

    {{&gt; molecules-contact-nav }}
&lt;/footer&gt;
