/app/views/.DS_Store
/db/development.sqlite3
/Gemfile.lock
/log/development.log
/mockups/.sass-cache/
/mockups/about/privacy/.DS_Store
/mockups/css/.DS_Store
/mockups/css/.sass-cache/
/mockups/css/style.css
/mockups/js/.DS_Store
/tmp/cache/
/tmp/pids/
