.DS_Store

.orig

tmp/

log/

*.sublime-workspace

.sass-cache

node_modules

.npm-debug.log

# ignore files that are steps in the build process

app/assets/stylesheets/build/

app/assets/javascripts/concat/