<dl>
    <dt id="OBS">OBS</dt>
    <dd>Observation Room is a room where detainees are locked for the purposes of being kept under observation. </dd>

    <dt id="PIDC">PIDC</dt>
    <dd>Perth Immigration Detention Centre.</dd>

    <dd>PIDC is a single-level secure detention facility that was adapted from an old Federal Police building. It is located within the Perth Domestic Airport at the Corner <a href="https://maps.google.com/maps?q=McComb+Road,+Perth+Airport,+Western+Australia,+Australia&amp;hl=en&amp;ll=-31.932797,115.958156&amp;spn=0.001674,0.002006&amp;sll=-31.931404,115.95902&amp;sspn=0.018939,0.032101&amp;oq=McComb&amp;hnear=McComb+Rd,+Perth+Airport+Western+Australia+6105,+Australia&amp;t=h&amp;z=19">Baker &amp; McComb Roads</a>, Redcliffe WA 6104. It’s postal address is Perth IDC, Locked Bag 7,Northbridge WA 6865 It was first opened as a detention facility in 1981. The single level, 1130m2 site includes a “north wing” for men and a “west wing” for women. There is also an ”east wing” that has some accommodation and general factilities. It has a regular capacity of 25 and a contingent capacity of 42.</dd>
</dl>