
<dt class="glossary-term">SIRH</dt>
    <dd class="glossary-definition">Sydney Immigration Residential Housing</dd>
    <dd class="glossary-definition">
        <p>Sydney IRH is adjacent to Villawood IDC in western, Sydney, and comes under the same management, though it is often characterised as a separate facility.</p>

        <p>According to DIAC’s website ‘Placement in immigration residential housing allows people in immigration detention to live in a more domestic environment and permits a greater degree of autonomy over their life while remaining formally in immigration detention.</p>
    </dd>
