&lt;article class=&quot;incident-river-item incident&quot; id=&quot;1-20GQKD&quot;&gt;
    &lt;h3 class=&quot;incident-river-item-title&quot;&gt;Incident 1-20GQKD&lt;/h3&gt;

    &lt;dl class=&quot;incident-primary-meta&quot;&gt;
        &lt;dt class=&quot;incident-field-label incident-occurred-on&quot;&gt;Occurred On&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-occurred-on&quot;&gt;
                &lt;time datetime=&quot;&quot;&gt;{{ day.long }} {{ month.short }} {{ year.long }} {{ hour.long }}:{{ minute.long }}&lt;/time&gt;
            &lt;/dd&gt;

        &lt;dt class=&quot;incident-field-label incident-type&quot;&gt;Type&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-type&quot;&gt;{{ incident.type }}&lt;/dd&gt;

        &lt;dt class=&quot;incident-field-label incident-location&quot;&gt;Location&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-location&quot;&gt;{{ incident.location }}&lt;/dd&gt;

    &lt;/dl&gt;

    &lt;dl class=&quot;incident-main&quot;&gt;
        &lt;dt class=&quot;incident-field-label incident-summary&quot;&gt;Incident Summary&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-summary&quot;&gt;{{ incident.summary }}&lt;/dd&gt;
    &lt;/dl&gt;

    &lt;dl class=&quot;incident-secondary&quot;&gt;
        &lt;dt class=&quot;incident-field-label incident-location-details&quot;&gt;Location Details&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-location-details&quot;&gt;{{ incident.location_details }}&lt;/dd&gt;
    &lt;/dl&gt;

    &lt;dl class=&quot;incident-secondary-linkgroup&quot;&gt;
        &lt;dt class=&quot;incident-field-label incident-number&quot;&gt;&lt;abbr title=&quot;Incident&quot;&gt;In.&lt;/abbr&gt; Number&lt;/dt&gt;
            &lt;dd class=&quot;incident-field-value incident-number&quot;&gt;
                &lt;a href=&quot;{{ link.templates-incident-show }}&quot; title=&quot;Get more information about Incident 1-2OGQKD&quot;&gt;{{ incident.number }} &lt;span class=&quot;incident-link btn&quot;&gt;see&amp;nbsp;details&lt;i&gt; &amp;rarr;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;
            &lt;/dd&gt;
    &lt;/dl&gt;
&lt;/article&gt;