{{&gt; organisms-header }}
{{&gt; organisms-sub-navigation }}

&lt;article id=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;section class=&quot;deep-body-container front-matter&quot;&gt;
      &lt;h1 class=&quot;logo&quot; role=&quot;banner&quot;&gt;Detention Logs&lt;/h1&gt;

      &lt;p class=&quot;lede&quot;&gt;We publish data, documents and investigations that reveal new perspectives on conditions and events inside Australia's immigration detention network. Detention Logs supports deeper community knowledge of and accountability for conditions in detention.&lt;/p&gt;

      &lt;section class=&quot;module&quot;&gt;
        &lt;h2 class=&quot;module-heading&quot;&gt;&lt;a href=&quot;{{ link.templates-incident-index}}&quot;&gt;Data&lt;/a&gt;&lt;/h2&gt;
        &lt;p class=&quot;module-body&quot;&gt;So far Detention Logs has published 7632 incident reports produced between 3 Oct 2009 and 26 May 2011 in Australia's onshore detention facilities.&lt;/p&gt;
      &lt;/section&gt;

      &lt;section class=&quot;module&quot;&gt;
        &lt;h2 class=&quot;module-heading&quot;&gt;&lt;a href=&quot;{{ link.templates-article }}&quot;&gt;Investigations&lt;/a&gt;&lt;/h2&gt;
        &lt;p class=&quot;module-body&quot;&gt;The information on this website is used in reporting on and research into detention.&lt;/p&gt;
      &lt;/section&gt;

      &lt;section class=&quot;module&quot;&gt;
        &lt;h2 class=&quot;module-heading&quot;&gt;&lt;a href=&quot;{{ link.templates-article }}&quot;&gt;Contribute&lt;/a&gt;&lt;/h2&gt;
        &lt;p class=&quot;module-body&quot;&gt;Find out how you can help improve this resource and bring more information to light.&lt;/p&gt;
      &lt;/section&gt;
  &lt;/section&gt;

  &lt;figure class=&quot;feature-block figure-quote deep-body-container&quot;&gt;
    &lt;blockquote class=&quot;feature-object lede&quot;&gt;
      &amp;hellip;Furthermore, at the September doctor&acirc;Äôs meeting, the acting site manager expressed a view that IHMS was set up so the Australia Federal Government could divest itself of risk from the lack of appropriate care provided to asylum seekers. He went on to say there will one day be a royal commission into what is taking place on Christmas Island. He&amp;nbsp;suggested we document&amp;nbsp;well.
    &lt;/blockquote&gt;

    &lt;figcaption class=&quot;feature-object&quot;&gt;
      &lt;cite&gt;Extract from a &acirc;Äúletter of concern&acirc;Äù by 15 doctors working at Christmas&amp;nbsp;Island Detention&amp;nbsp;Centre, Novermber&amp;nbsp;2013 &lt;a href=&quot;http://www.theguardian.com/world/2013/dec/19/revealed-doctors-outrage-over-unsafe-refugee-patients&quot;&gt;reported by Guardian&amp;nbsp;Australia&lt;/a&gt;&lt;/cite&gt;
    &lt;/figcaption&gt;
  &lt;/figure&gt;
&lt;/article&gt;

{{&gt; organisms-footer }}
