{{&gt; organisms-header }}
{{&gt; organisms-sub-navigation }}

&lt;section class=&quot;body-container incident-index&quot; id=&quot;content&quot; role=&quot;main&quot;&gt;
	&lt;header class=&quot;page-header&quot;&gt;
		&lt;h1 class=&quot;page-title&quot;&gt;Incident Explorer&lt;/h1&gt;

        &lt;p&gt;Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government. &lt;a class=&quot;lede-sub-link&quot; href=&quot;/data/incidents/about&quot; title=&quot;Read more information about Incident Reports and where this data came from.&quot;&gt;About Incident Reports.&lt;/a&gt;&lt;/p&gt;
	&lt;/header&gt;

    {{&gt; organisms-incident-index-filters }}

    {{&gt; organisms-incident-index-results }}

	{{&gt; organisms-incident-index-river }}

    {{&gt; molecules-navigation-pagination }}

&lt;/section&gt;&lt;!--End role=main--&gt;

{{&gt; organisms-footer }}