&lt;footer class=&quot;glossary glossary-footnotes&quot;&gt;
    &lt;h2&gt;Glossary&lt;/h2&gt;
    {{&gt; molecules-glossary-module }}

    &lt;p class=&quot;supporting&quot;&gt;&lt;a href=&quot;/glossary&quot; title=&quot;&quot;&gt;See full Glossary.&lt;/p&gt;
&lt;/footer&gt;