<nav class="toc">
    <h2>Contents</h2>
    <ol>
        <li><a href="" title="">{{ headline.short }}</a></li>
        <li><a href="" title="">{{ headline.medium }}</a>
            <ol>
                <li><a href="" title="">{{ headline.short }}</a></li>
                <li><a href="" title="">{{ headline.medium }}</a></li>
            </ol>
        </li>

        <li><a href="" title="">{{ headline.medium }}</a></li>
        <li><a href="" title="">{{ headline.short }}</a></li>
        <li><a href="" title="">{{ headline.medium }}</a></li>
	</ol>
</nav>