<% if !@incident.foi_requests.empty? %>
  <p class="notice <%= foi_request_state_class(@incident) %>">
  <%= link_to_right_to_know(@incident) %>
  </p>
<% end %>
<% if @incident.detailed_report.path %>
  <p class="notice incident-report-download">
  <%= link_to "See Incident Detail Report [PDF]", @incident.detailed_report.url, class: "incident-report-download-link", title: "Download the Incident Detail Report for this incident to find more information" %>
  </p>
<% end %>
