    &lt;dl class=&quot;glossary-list&quot;&gt;
        &lt;dt class=&quot;glossary-term&quot;&gt;{{ glossary-item.abbreviation}}&lt;/dt&gt;
            &lt;dd class=&quot;glossary-definition&quot;&gt;{{{ glossary-item.definition.description}}}&lt;/dd&gt;
    &lt;/dl&gt;
