<form class="incident-filters" id="filters" accept-charset="UTF-8" action="/data/incidents" method="get" role="form">

    <h2><legend>Filter Incident List</legend></h2>

    <!-- incert this span with JS -->
    <!--     <a class="incident-filters-toggler"></a> -->

    <div class="incident-filters-collapsible">
        <fieldset class="form-group-type">
            <legend class="visuallyhidden">Select a type or category of incident report that you would like to find.</legend>
            <label for="incident_type">Incident Type</label>

            <select id="incident_type" name="incident_type">
                <option value="">All</option>
                <option value="Escape - Mass Breakout">Escape - Mass Breakout</option>
                <option value="Threat-Bomb Biologic Chem">Threat-Bomb Biologic Chem</option>
                <option value="Theft">Theft</option>
                <option value="Weapon - Client in possession">Weapon - Client in possession</option>
                <option value="Food poisoning">Food poisoning</option>
                <option value="Visitor-HP refused access">Visitor-HP refused access</option>
                <option value="Barricade/Sit-In">Barricade/Sit-In</option>
                <option value="Riot">Riot</option>
                <option value="Use of Observation Rm &gt; 24 hrs">Use of Observation Rm &gt; 24 hrs</option>
                <option value="Escape - Attempted">Escape - Attempted</option>
                <option value="Abusive/Aggressive Behaviour">Abusive/Aggressive Behaviour</option>
                <option value="Use of weaponry by a Client">Use of weaponry by a Client</option>
                <option value="Failure - IT Systems">Failure - IT Systems</option>
                <option value="Escape">Escape</option>
                <option value="Complaint Unresolved in time">Complaint Unresolved in time</option>
                <option value="Disturbance - Minor">Disturbance - Minor</option>
                <option value="Transfer btwn facilities">Transfer btwn facilities</option>
                <option value="Use of Restraints">Use of Restraints</option>
                <option value="Complaint - re MinorIncident">Complaint - re MinorIncident</option>
                <option value="Damage - Serious">Damage - Serious</option>
                <option value="Voluntary starvation (&lt;24 hrs)">Voluntary starvation (&lt;24 hrs)</option>
                <option value="Use of Force">Use of Force</option>
                <option value="Public Health Risk - L/Serious">Public Health Risk - L/Serious</option>
                <option value="Contamination/infection">Contamination/infection</option>
                <option value="Self Harm - Actual">Self Harm - Actual</option>
                <option value="Visitor-Other refused">Visitor-Other refused</option>
                <option value="Disturbance - Major">Disturbance - Major</option>
                <option value="Voluntary starvation by Minor">Voluntary starvation by Minor</option>
                <option value="Industrial Action - No Labour">Industrial Action - No Labour</option>
                <option value="Media - Incident of interest">Media - Incident of interest</option>
                <option value="Media - Unauthorised presence">Media - Unauthorised presence</option>
                <option value="Property - Missing Money">Property - Missing Money</option>
                <option value="Accident/Injury - Serious">Accident/Injury - Serious</option>
                <option value="Failure - Power">Failure - Power</option>
                <option value="Death">Death</option>
                <option value="Complaint - re MajorIncident">Complaint - re MajorIncident</option>
                <option value="Contamination/Infection">Contamination/Infection</option>
                <option value="Damage - Minor">Damage - Minor</option>
                <option value="Contraband found">Contraband found</option>
                <option value="Assault - Minor">Assault - Minor</option>
                <option value="Demonstration - Onsite">Demonstration - Onsite</option>
                <option value="Substance abuse">Substance abuse</option>
                <option value="Failure - Security System">Failure - Security System</option>
                <option value="Use of Emergency Equip">Use of Emergency Equip</option>
                <option value="Complaint - re Crit Incident">Complaint - re Crit Incident</option>
                <option value="Assault - Serious">Assault - Serious</option>
                <option value="Clinical Depression">Clinical Depression</option>
                <option value="Removal - Aborted">Removal - Aborted</option>
                <option value="Self Harm - Threatened">Self Harm - Threatened</option>
                <option value="Emergency - medical - offsite">Emergency - medical - offsite</option>
                <option value="Property - Missing">Property - Missing</option>
                <option value="Visitor-Client denied">Visitor-Client denied</option>
                <option value="Use of Restraints-Unplnd">Use of Restraints-Unplnd</option>
                <option value="Self Harm-Attpted Serious">Self Harm-Attpted Serious</option>
                <option value="Media - Approach staff/clients">Media - Approach staff/clients</option>
                <option value="Demonstration - Offsite">Demonstration - Offsite</option>
                <option value="Assault - Not OBH">Assault - Not OBH</option>
                <option value="Birth of a child">Birth of a child</option>
                <option value="Notification by Welfare Auth">Notification by Welfare Auth</option>
                <option value="Transfer to APOD">Transfer to APOD</option>
                <option value="Industrial Action - Minor">Industrial Action - Minor</option>
                <option value="Voluntary Starvation - End of">Voluntary Starvation - End of</option>
                <option value="Voluntary starvation (&gt;24 hrs)">Voluntary starvation (&gt;24 hrs)</option>
                <option value="Contraband brought by Visitor">Contraband brought by Visitor</option>
                <option value="Public Health Risk - Serious">Public Health Risk - Serious</option>
            </select>
        </fieldset>

        <fieldset class="form-group-location">
            <legend class="visuallyhidden">Select a to find incident reports from a specific detention facility, or from all facilities.</legend>

            <label for="location">Detention Facility</label>

            <select id="location" name="location">
                <option value="">All</option>

                <optgroup label="New South Wales">
                    <option value="7">Sydney IRH</option>
                    <option value="8">Villawood IDC</option>
                </optgroup>

                <optgroup label="Christmas Island">
                    <option value="1">Christmas Island</option>
                    <option value="2">Construction Camp APOD</option>
                    <option value="3">Lilac Aqua</option>
                    <option value="4">North West Point Immigration Facility</option>
                    <option value="5">Phosphate Hill APOD</option>
                    <option value="6">Phosphate Hill B Compound</option>
                </optgroup>

                <optgroup label="Victoria">
                    <option value="18">Maribyrnong IDC</option>
                    <option value="19">Melbourne ITA</option>
                </optgroup>

                <optgroup label="Western Australia">
                    <option value="20">Curtin IDC</option>
                    <option value="21">Gwalia Lodge</option>
                    <option value="22">Jandakot APOD</option>
                    <option value="23">Leonora APOD</option>
                    <option value="24">Leonora Lodge</option>
                    <option value="25">Perth IDC</option>
                    <option value="26">Perth IRH</option>
                </optgroup>

                <optgroup label="Queensland">
                    <option value="12">Brisbane ITA</option>
                    <option value="13">Scherger IDC</option>
                    <option value="14">Virginia Palms Motel</option>
                </optgroup>

                <optgroup label="Northern Territory">
                    <option value="9">Berrimah Accommodation Facility</option>
                    <option value="10">Darwin Airport Lodge</option>
                    <option value="11">Northern IDC</option>
                </optgroup>

                <optgroup label="South Australia">
                    <option value="15">Inverbrackie APOD</option>
                    <option value="16">Port Augusta IRH</option>
                    <option value="17">SA Detention Operations</option>
                    <option value="27">Adelaide ITA</option>
                </optgroup>
            </select>
        </fieldset>

        <fieldset class="form-group-start-date datepicker">
            <legend class="visuallyhidden">Set the start and end dates to find incident reports between.</legend>

            <label for="by_period_start_date">Start Date</label>

            <input type="date" id="by_period_start_date" name="by_period[start_date]" value="2009-10-03" placeholder="2009-10-03" min="2009-10-03" max="2011-05-26">

            <label for="by_period_end_date">End date</label>

            <input type="date" id="by_period_end_date" name="by_period[end_date]" value="2011-05-26" placeholder="2011-05-26" min="2009-10-03" max="2011-05-26">
        </fieldset>

        <fieldset class="form-group-has-detail-report">
            <legend class="visuallyhidden">Some incident reports have an 'Incident Detail Report' attached. You may filter the results to only find incidents with these attachments.</legend>
            <label for="by_detailed_report"><input id="by_detailed_report" name="by_detailed_report" type="checkbox" value="true">Has Detail Report attached</label>
        </fieldset>

        <input name="utf8" type="hidden" value="&#x2713;" />

        <fieldset class="form-action-group">
            <input class="btn btn-submit" type="submit" role="button" value="Find incident reports"/>
        </fieldset>
    </div>
</form>
