<article class="incident-adopt-action">
    <h1>Unlock more information about incident {{ incident.number }} by submitting a Freedom of Information request for its <em>Incident Detail Report</em>, with just a couple of clicks.</h1>

    <p><a class="btn btn-submit" href="">Adopt Incident {{ incident.number }}</a></p>

    <p class="supporting">Powered by <a href="https://www.righttoknow.org.au/" title="Your Right to Know: Everyone has the right to access information held by Australian public authorities. By law, they have to respond.">Right To Know</a></p>
</article>