&lt;article class=&quot;incident-adopt-action&quot;&gt;
    &lt;h1&gt;Unlock more information about incident {{ incident.number }} by submitting a Freedom of Information request for its &lt;em&gt;Incident Detail Report&lt;/em&gt;, with just a couple of clicks.&lt;/h1&gt;

    &lt;p&gt;&lt;a class=&quot;btn btn-submit&quot; href=&quot;&quot;&gt;Adopt Incident {{ incident.number }}&lt;/a&gt;&lt;/p&gt;

    &lt;p class=&quot;supporting&quot;&gt;Powered by &lt;a href=&quot;https://www.righttoknow.org.au/&quot; title=&quot;Your Right to Know: Everyone has the right to access information held by Australian public authorities. By law, they have to respond.&quot;&gt;Right To Know&lt;/a&gt;&lt;/p&gt;
&lt;/article&gt;