&lt;ul class=&quot;primary-nav&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.templates-incident-index }}&quot;&gt;Data&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;/investigations&quot;&gt;Investigations&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;/about&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;/contribute&quot;&gt;Contribute&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
