.site-header {
    @include breakpoint($bp-l) {
        @include rem(padding-top, ms(3));
        @include rem(padding-bottom, ms(3));
        border-bottom: 1px $color-grey-light solid;
    }

    .banner {
        @include rem(margin-top, ms(-6));
        word-break: none;
    }

    .tagline {
        display: none;

        @include breakpoint($bp-s) {
            display: block;
        }
    }

    .btn-menu {
        display: block;
        float: right;
        clear: right;

        @include breakpoint($bp-l) {
            display: none;
        }
    }

    .primary-nav {
        display: none;

        @include breakpoint($bp-l) {
            @include rem(margin-top, ms(-3));
            display: block;
            float: right;
            clear: right;

            li:last-child a {
                padding-right: 0;
            }
        }
    }
}

.skip-link {
    @include visuallyhidden;
}