
&lt;dt class=&quot;glossary-term&quot;&gt;SIRH&lt;/dt&gt;
    &lt;dd class=&quot;glossary-definition&quot;&gt;Sydney Immigration Residential Housing&lt;/dd&gt;
    &lt;dd class=&quot;glossary-definition&quot;&gt;
        &lt;p&gt;Sydney IRH is adjacent to Villawood IDC in western, Sydney, and comes under the same management, though it is often characterised as a separate facility.&lt;/p&gt;

        &lt;p&gt;According to DIAC&acirc;€™s website &acirc;€˜Placement in immigration residential housing allows people in immigration detention to live in a more domestic environment and permits a greater degree of autonomy over their life while remaining formally in immigration detention.&lt;/p&gt;
    &lt;/dd&gt;
