&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch sg-swatch--black&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#333333 ($color-black)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch sg-swatch--primary&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#467719 ($color-primary)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch sg-swatch--salient&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#F1CB7A ($color-salient)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch sg-swatch--grey&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#9a9a9a ($color-grey)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch sg-swatch--white&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffffff ($color-white)&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;