<%
  title "Inside Australian immigration detention"

  description "We publish data, documents and investigations that reveal new perspectives on conditions and events inside immigration detention."
%>

<article id="main" role="main">
  <section class="deep-body-container front-matter">
      <h1 class="logo">Detention Logs</h1>

      <p class="lede">We publish data, documents and investigations that reveal new perspectives on conditions and events inside Australia's immigration detention network. Detention Logs supports deeper community knowledge of and accountability for conditions in detention.</p>

      <section class="module">
        <h2 class="module-heading"><%= link_to "Data", :incidents %></h2>

        <p class="module-body">So far Detention Logs has published 7632 incident reports produced by staff at Australia's onshore immigration detention facilities between 3 Oct 2009 and 26 May 2011.</p>
      </section>

      <section class="module">
        <h2 class="module-heading"><%= link_to "Investigations", :investigations %></h2>

        <p class="module-body">The information on this website is used in reporting on and research into detention.</p>
      </section>

      <section class="module">
        <h2 class="module-heading"><%= link_to "Contribute", :contribute %></h2>

        <p class="module-body">Find out how you can help improve this resource and bring more information to light.</p>
      </section>
  </section>

  <figure class="feature-block figure-quote deep-body-container">
    <blockquote class="feature-object lede">
      &hellip;Furthermore, at the September doctor’s meeting, the acting site manager expressed a view that IHMS was set up so the Australia Federal Government could divest itself of risk from the lack of appropriate care provided to asylum seekers. He went on to say there will one day be a royal commission into what is taking place on Christmas Island. He&nbsp;suggested we document&nbsp;well.
    </blockquote>

    <figcaption class="feature-object">
      <cite>Extract from a “letter of concern” by 15 doctors working at Christmas&nbsp;Island Detention&nbsp;Centre, November&nbsp;2013 <a href="http://www.theguardian.com/world/2013/dec/19/revealed-doctors-outrage-over-unsafe-refugee-patients">reported by Guardian&nbsp;Australia</a></cite>
    </figcaption>
  </figure>
</article>
