&lt;!-- Begin .sub-nav --&gt;
&lt;div class=&quot;sub-nav {{ toggle-class }}&quot;&gt;
    {{# breadcrumbs }}
    {{&gt; molecules-breadcrumbs }}
    {{/ breadcrumbs }}

    {{&gt; molecules-section-nav }}
&lt;/div&gt;
&lt;!-- End .sub-nav --&gt;