
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
    <script src="../../js/jquery-2.0.0b2.js"></script>
    <script src="../../js/tooltip.js"></script>
    <script src="../../js/collapsible.js"></script>
    <script src="../../js/date.picker.js"></script>
    <script src="../../js/global.js"></script>

	</body>
</html>