<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Our Principles | Detention Logs</title>

        <meta name="author" content="Detention Logs">
        <meta name="description" content="We publish databases, documents and investigations that reveal new perspectives on conditions and events in Australia’s immigration detention network.">
        <meta name="viewport" content="width=device-width">
		<meta name="google-site-verification" content="UyFaPbUx_nMcjSfI1G-dkYcTZljC0-do61HPxvESXic" />

	    <link href="/assets/style.css?body=1" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body class="principles">
	<header class="site-header">
    	<h1 class="logo"><a href="http://detentionlogs.com.au" rel="home">Detention Logs</a></h1>
    	<nav class="main-nav">
    		<a href="#navigation" class="menu-btn">Menu</a>
			<ul class="primary-nav">
				<li><a href="/data/incidents">Data</a></li>
				<li><a href="/investigations">Investigations</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contribute">Contribute</a></li>
			</ul>
		</nav>
    </header>
