<% title "About Incident Reports" %>
<% description "What, where, who and why information about Detention Logs, a new independent project committed to transparency and accountability in Australia’s immigration detention network." %>

<%= render 'layouts/header' %>

    <article role="main" class="main reading">
		<h1>What are Incident Reports?</h1>

        <p class="lede">Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government.</p>

        <p>The reports cover a wide range of events that may be called an &quot;incident&quot;: from births and deaths to IT failures, injuries, complaints, self-harm, and escapes.</p>

        <p>The private contractors that run the detention network, including companies <a href="http://detentionlogs.com.au/glossary/#Serco">Serco</a>, <a href="http://detentionlogs.com.au/glossary/#IHMS">IHMS</a> and <a href="http://detentionlogs.com.au/glossary/#G4S">G4S</a>, are required to file incident reports to the Department of Immigration and Border Protection (DIBP, formerly Department of Immigration and Citizenship or DIAC). The department collects them in a centralised database: the <cite>Compliance, Case Management, Detention and Settlement Portal</cite>.</p>

        <p>The records are incomplete, sometimes unclear, redacted, and often raise more questions than they answer about what occurred. Nevertheless, they are the most detailed record of the situation faced by people detained and working within Australia's immigration detention network.</p>

        <p>The Australian Government is ultimately responsible for the welfare of people held in the detention network. They use the incident reports as one way to understand and track events and conditions in their facilities.</p>

        <p>The incident data and any attached Incident Detail Reports published here have been provided by the DIBP, released under the <a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Freedom of Information Act 1982 (Cth)</a>. The Freedom of Information (FOI) system allows any member of the public to access government information.</p>

        <p>The data we have managed to publish so far does not reflect the more up-to-date data held by the immigration department. If you would like to help us make more of this information accessible to the public, see the <a href="http://detentionlogs.com.au/contribute" title="How you can help.">Contribute page</a>.</p>

        <p><a href="/data/incidents" title="Explore official reports of events in immigration detention, recorded by detention centre staff.">Explore the incident reports</a>.</p>

        <p><a href="https://s3.amazonaws.com/detention_logs/Dataset+for+incident+database.csv">Download the available incidents reports in spreadsheet format.</a></p>
    </article>


<%= render 'layouts/footer' %>