<%= render 'pages/header' %>

    <article role="main" class="main reading">
		<h1>About Detention Logs</h1>
		<p>Detention Logs is a new independent project committed to transparency and
		accountability in Australia’s immigration detention network. We aim to support those
		reporting on and discussing these issues by breaking through misinformation and
		political spin.</p>

		<p>Immigration detention is one of the most hotly debated, contested and emotional
		topics in Australia, but journalists’ access to detention centres is limited and
		information from the inside is scarce. Public policy surrounding asylum seekers and
		immigration should be shaped by informed opinions, and our mission is to arm the
		public with those vital facts to raise the standard of discussion.</p>

		<p>We have a special focus on supporting journalists in understanding and accessing
		more information to help them investigate and report on immigration detention. We
		also produce our own original reporting and analysis of the data that we publish to
		help explain its significance and put the questions it raises to those accountable.</p>

		<h2>What’s the “beta” mean?</h2>

		<p>It means that this is just the beginning. We’ve released the first set of detention
		incidents as quickly as possible. The trade off is that we’ve got a lot of work to
		do adding functionality to this site, such as improved searching and filtering
		options. As we continue to build and expand the site we want to hear from our
		audience what features they would like to see, so please contact us for any
		feedback, contributions or requests.</p>
		
		<p><strong>Producers: </strong>
       <a href="http://twitter.com/equivalentideas">Luke Bacon</a>, <a href="http://twitter.com/FarrellPF">Paul Farrell</a>, <a href="http://twitter.com/Lawrence_Bull">Lawrence Bull</a></p>

		<p><strong>Data Processing:</strong>
        Lawrence Bull, Vincent Farrell, Paul Farrell, Luke Bacon and <a href="http://peterwilliamfrancis.tumblr.com/">Peter Francis</a></p>

		<p><strong>Website </strong>
		:        Luke Bacon</p>


		<p>Thanks to <a href="http://wendybacon.com">Wendy Bacon</a>, <a href="http://bryanmcleod.com.au/">Bryan McLeod</a>, <a href="http://theglobalmail.org/">The Global Mail</a>, <a href="http://newmatilda.com/">New Matilda</a>, <a href="http://openaustralia.org">Open Australia</a>, <a href="http://investigate.org.au">The Australian Centre for Independent Journalism</a> and <a href="http://guardian.co.uk/australia">The Guardian Australia</a>.</p>
    </article>

	
<%= render 'pages/footer' %>
