<% title "About Incident Reports" %>
<% description "What, where, who and why information about Detention Logs, a new independent project committed to transparency and accountability in Australia’s immigration detention network." %>

<%= render 'layouts/header' %>

    <article role="main" class="main reading">
		<h1>What are Incident Reports?</h1>
		<p class="lede">Incident Reports are the Australian Government's official records of things that happen to people in immigration detention, as recorded by detention centre staff.</p>
			<p><a href="https://s3.amazonaws.com/detention_logs/Dataset+for+incident+database.csv">Download the incidents in csv format here</a>.</p>
    </article>

	
<%= render 'layouts/footer' %>