<%
  title "About Incident Reports"

  description "What, where, who and why information about Detention Logs, a new independent project committed to transparency and accountability in Australia’s immigration detention network."
%>

<%= render 'layouts/sub-nav', :breadcrumbs => false %>

<section class="body-container" id="main" role="main" >
  <article class="main-reading">
    <header class="article-header">
      <h1>About Incident Reports</h1>
    </header>

    <p class="lede">Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government.</p>

    <p>Each Incident Report is identified by a unique ‘Incident Number’. Examples include <a href="http://detentionlogs.com.au/data/incidents/49445" title="see Incident Report 1-4ELSKF, Use of Observation Rm &gt; 24 hrs at Villawood IDC, 30 Jul 2010.">Incident 1-4ELSKF</a>, <a href="http://detentionlogs.com.au/data/incidents/46264" title="see Incident Report 1-643EG4, Transfer between facilities at Northern IDC, 19 Feb 2011">Incident 1-643EG4</a> and <a href="http://detentionlogs.com.au/data/incidents/50281" title="see Incident Report 1-3H0HFJ, Use of Force at SA Detention Operations, 23 Mar 2010">Incident 1-3H0HFJ</a>.</p>

    <p>The reports cover a wide range of events that may be called an &quot;incident&quot;: from <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Birth+of+a+child&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see 28 Birth of a child incident reports between 03 Oct 2009 and 26 May 2011.">births</a> and <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Death&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see 6 Death incident reports between 03 Oct 2009 and 26 May 2011.">deaths</a> to <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Failure+-+IT+Systems&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see 219 Failure - IT Systems incident reports between 03 Oct 2009 and 26 May 2011.">IT failures</a>, <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Accident%2FInjury+-+Serious&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Accident%2FInjury+-+Serious&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26">injuries</a>, <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Complaint+-+re+MinorIncident&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see 308 Complaint - re MinorIncident incident reports between 03 Oct 2009 and 26 May 2011.">complaints</a>, <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Self+Harm+-+Actual&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26">self-harm</a>, and <a href="http://detentionlogs.com.au/data/incidents?utf8=%E2%9C%93&amp;incident_type=Escape&amp;location=&amp;by_period%5Bstart_date%5D=2009-10-03&amp;by_period%5Bend_date%5D=2011-05-26" title="see 77 Escape incident reports between 03 Oct 2009 and 26 May 2011.">escapes</a>.</p>

    <p>The private contractors that run the detention network, including companies <a href="http://detentionlogs.com.au/glossary/#Serco">Serco</a>, <a href="http://detentionlogs.com.au/glossary/#IHMS">IHMS</a> and <a href="http://detentionlogs.com.au/glossary/#G4S">G4S</a>, are required to file incident reports to the Department of Immigration and Border Protection (DIBP, formerly Department of Immigration and Citizenship or DIAC). The department collects them in a centralised database: the <cite>Compliance, Case Management, Detention and Settlement Portal</cite>.</p>

    <p>The records are incomplete, sometimes unclear, redacted, and often raise more questions than they answer about what occurred. Nevertheless, they are the most detailed record of the situation faced by people detained and working within Australia's immigration detention network.</p>

    <p>The Australian Government is ultimately responsible for the welfare of people held in the detention network. They use the incident reports as one way to understand and track events and conditions in their facilities.</p>

    <p>The incident data and any attached Incident Detail Reports published here have been provided by the DIBP, released under the <a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Freedom of Information Act 1982 (Cth)</a>. The Freedom of Information (FOI) system allows any member of the public to access government information.</p>

    <p>The data we have managed to publish so far does not reflect the more up-to-date data held by the immigration department. If you would like to help us make more of this information accessible to the public, see the <a href="http://detentionlogs.com.au/contribute" title="How you can help.">Contribute page</a>.</p>

    <p><a href="/data/incidents" title="Explore official reports of events in immigration detention, recorded by detention centre staff.">Explore the incident reports</a>.</p>

    <p><a href="https://s3.amazonaws.com/detention_logs/Dataset+for+incident+database.csv">Download the available incidents reports in spreadsheet format.</a></p>

  </article>
</section>
