<%
  title "Contribute"

  description "Find out how you can help improve and expand the Detention Logs project."
%>

<%= render 'layouts/sub-nav', :breadcrumbs => false %>

<section class="body-container" id="main" role="main" >
  <article class="main-reading">
    <header class="article-header">
      <h1>How you can help</h1>
    </header>

    <h2 id="adopt-an-incident">Adopt an incident</h2>

    <p>Too often debate about immigration in Australia is reduced to tag lines and jingoism. Facts are hard to come by, and part of the reason is the limited access to detention centres given to journalists. But the data collected by Detention Logs
    arms the public, politicians and journalists with vital facts about detention centres - and there’s a way for everyone to help in opening immigration detention.</p>

    <p>Each incident Detention Logs has collected has a lot more information behind it. This information is stored in an "Incident Detail Report", which reveal more about the event, who was involved and what happened.</p>

    <p>Because of their importance we've asked the Immigration Department to proactively release the full database of detailed reports. They've refused. So we want your help.  We’re calling on our audience who want to help make detention centres in
    Australia more transparent to adopt an incident using the Freedom of Information Act - a way to access government information that anybody can use. If you see an
    incident that you think needs further investigation, or that should be made public, then we want you to request it.</p>

    <p>You can request as many incidents as you want, but be careful - the more you ask for the more likely the department will be to charge you. And if you ask for too many, (say 40 or 50) they may refuse to process your request on the grounds that it substantially diverts their resources. To avoid this, we recommend you ask for one to five incidents.</p>

    <h3 id="adopt-an-incident-how">How do you adopt an incident?</h3>

    <p>Requesting an incident is easy. Once you’ve identified an incident you think there should be more information about you can click the “Adopt an incident” button on the top right hand side of the screen. This will take you directly to the Right to Know website, which is a publicly accessible site for lodging freedom of information requests. The form will already be filled in with the incident you’ve just been exploring, so all you need to do is fill in your name and hit send.</p>

    <p>Once detailed reports start coming in we will update them to our site. Over coming months we’ll be requesting more summary data, and will eventually close the gap to incidents up to the present day. The more summary data we get, the more you can help to expose what’s happening in detention facilities - across the country and abroad.</p>
  </article>
</section>
