<%= render 'layouts/header' %>

    <article role="main" class="main reading glossary">
	    <h1>Glossary</h1>
	    <p class="lede">The government information we publish, much of it recorded by detention centre staff, is full of jargon and abbreviations. It can be hard to understand because it wasn't written with outsiders in mind. We hope the definitions you find here make Detention&nbsp;Logs more accessible and easier to approach.</p>
	    <p>If you think something is missing, incomplete or inaccurate, please let us know with an email to <a href="mailto:detentionlogs@gmail.com">detentionlogs@gmail.com</a> or via Twitter to <a href="https://twitter.com/detentionlogs">@detentionlogs</a>. Helping extend this glossary is an easy way to make this site more useful for everyone.</p>
	
		<dl>
		<dt id="AFP">AFP</dt>
		<dd>Australian Federal Police</dd>
		
		<dd>Australian Federal Police is the policing agency of the Commonwealth of Australia. The role of the AFP is to enforce Commonwealth criminal law and protect the Commonwealth from crime overseas and in Australia.</dd>
		
		<dt id="AHRC">AHRC</dt>
		<dd>Australian Human Rights Commission</dd>
		
		<dd>The <a href="http://www.humanrights.gov.au/about-commission-0">Australian Human Rights Commission</a> is a statutory agency established in 1986 by an act ofFederal parliament. It is responsible for human rights compliance, dealing with human rights complaints and increasing awareness of human rights in Australia. It holds inquiries into issues of importance to human rights in Australia.</dd>
		
		<dt id="ATTA">AITA or Adelaide ITA</dt>
		<dd>Adelaide Immigration Transit Accommodation</dd>
		
		<dd>Adelaide Immigration Transit Accommodation is located 5 km from Adelaide CBD at <a href="https://maps.google.com/maps?q=55&#8211;65+Garland+Ave+Kilburn+SA+5083&amp;hl=en&amp;sll=&#8211;32.010396,135.119128&amp;sspn=73.806301,131.484375&amp;t=h&amp;hnear=55%2F65+Garland+Ave,+Kilburn+South+Australia+5084,+Australia&amp;z=14&amp;iwloc=A" title="view address at Google Maps">55-65 Garland Ave, Kilburn, SA</a> and is next to Adelaide Airport. It comprises two three-bedroom domestic houses.</dd>
		
		<dt id="The-Annex">The Annex</dt>
		<dd></dd>
		
		<dt id="APOD">APOD</dt>
		<dd>APOD, or Alternative Place of Detention, is a broad term used by the Department of Immigration and Citizenship to describe different forms of detention facilities and does not necessarily refer to permanent places of accommodation. The facilities referred to in this category can range from community housing, schools or hospitals where detainees are treated.</dd>
		<dt id="Banksia-Compound">Banksia Compound</dt>
		<dd>Banksia Compound is a small female only part of Hughes which is one of three accommodation sections at <a href="#Villawood-Immigration-Detention-Centre">Villawood Immigration Detention Centre</a></dd>
		
		<dt id="Berrimah-House">Berrimah House</dt>
		<dd>Berrimah House is one of four detention facilities on the Sturt Highway at Berrimah outside Darwin, in the Northern Territory. It is low-security and is located outside the fence of the <a href="#NIDC">Northern Immigration Detention Centre</a>, near Darwin International Airport. It was constructed in 2008&#8211;2009 and opened in December 2009 to accommodate unaccompanied minors ( children under 18 who are without parents) in detention. It has four shared bedrooms and communal facilities and a regular use capacity of 12. According to the <a href="http://www.humanrights.gov.au/sites/default/files/content/human_rights/immigration/idc2010_darwin.pdf">2010 Human Rights Commission report</a> when the HRC visited there were 15 unaccompanied minors detained at Berrimah House, ranging from 11 &#8211;17, all of whom were Indonesian fishermen.
		<dt id="BITA">BITA</dd>
		
		<dd>Brisbane Immigration Transit Accommodation was opened in 2007 and is located at <a href="https://maps.google.com/maps?q=100+Sugarmill+Road,+Pinkenba,+Queensland,+Australia&amp;hl=en&amp;sll=-32.010396,135.119128&amp;sspn=73.806301,131.484375&amp;oq=100+Sugarmill+Road,+Pinkenba&amp;t=h&amp;hnear=100+Sugarmill+Rd,+Pinkenba+Queensland+4009,+Australia&amp;z=14">100 Sugarmill Road, Pinkenba</a> near Brisbane airport. It has three accommodation buildings. According to DIAC it has a regular capacity of 40 and ‘contingent’ capacity of 74. Rates of mental illness diagnosis and psychotropic medication are comparatively high for BITA, reflecting the intentional use of this facility to accommodate people with health concerns.</dd>
		
		<dt id="Blaxland">Blaxland</dt>
		<dd>Blaxland is a section of <a href="#VIDC">Villawood Immigration Detention Centre</a> also refered to as ‘Stage One’. It is the highest security compound in Villawood. Blaxland was the first part of Villawood to be opened for immigration detention and was officially opened in 1976. These <a href="https://www.humanrights.gov.au/publications/photos-2011-immigration-detention-villawood">photos</a> of Blaxland were taken by the Human Rights Commission in 2011. Blaxland is outside the main compound of buildings.</dd>
		
		<dt id="Brisbane-ITA">Brisbane ITA</dt>
		<dd><a href="#BITA">Brisbane Immigration Transit Accommodation</a></dd>
		
		<dt id="CICC">Christmas Island Construction Camp</dt>
		<dd>The Construction Camp was first built in 2002 to accommodate construction workers for the new <a href="#North-West-Point-Immigration-Facility">North West Point Immigration Facility</a> on Christmas Island. It was converted to an Alternative Place of Detention in 2008 and is located adjacent to the Phosphate Hill facility. It has a capacity of up to 310 people. DIAC accommodates unaccompanied minor, families, women and other groups classifies as ‘vulnerable’ in the camp. In 2009, the Australian Human Rights Commission found that the Construction camp is “not appropriate for unaccompanied minors or families with children” and that its classifcation as an ‘alternative temporary detention in the community’ was misleading. Photos can be found at <a href="http://www.humanrights.gov.au/publications/2009-immigration-detention-and-offshore-processing-christmas-island">11.3</a> in the HRC report.</dd>
		
(see: http://www.aph.gov.au/~/media/Estimates/Live/legcon_ctte/estimates/bud_1112/diac/BE11-0372.ashx from The Federal Parliament Legal and Constitutional Affairs Legislation Committee)
		
		<dt id="Code-Red">Code Red</dt>
		<dd>Fire</dd>
		
		<dt id="Code-Orange">Code Orange</dt>
		<dd>Evacuation</dd>
		
		<dt id="Code-Green">Code Green</dt>
		<dd>Escape or security breach</dd>
		
		<dt id="Code-Purple">Code Purple</dt>
		<dd>Bomb threat</dd>
		
		<dd>Example: Incident 1&#8211;3I11M1</dd>
		
		<dt id="Code-Black">Code Black</dt>
		<dd>Officer needs assistance</dd>
		
		<dt id="Code-Blue">Code Blue</dt>
		<dd>Medical emergency</dd>
		
		<dd>Example: Incident 1&#8211;2YYRDL</dd>
		
		<dt id="Code-White">Code White</dt>
		<dd>Staff search immediate work area</dd>
		
		<dt id="Code-Yellow">Code Yellow</dt>
		<dd>Internal emergency</dd>
		
		<dd>Example: Incident 1&#8211;3DWZJJ, incident 1&#8211;3H6LHL.</dd>
		
		<dt id="Code-Brown">Code Brown</dt>
		<dd>External emergency</dd>
		
		<dt id="Code-Grey">Code Grey</dt>
		<dd>Major disturbance</dd>
		
		<dt id="CIIDC">CIIDC</dt>
		<dd>Christmas Island Immigration Detention Centre</dd>
		
		<dd>Christmas Island, a territory of Australia, is 2623 km from Perth, Western Australia in the Indian Ocean. It has a population of about 2000 and is 135 square km. The Christmas Island Immigration Detention Centre opened in 2008. It incorporates a main North West Point Immigration Detention area purpose built for immigration detention for $400 million by the Howard Coalition government. North West Point has two extensions - Aqua and Lilac- which were built by the Rudd Labor government. According to DIAC, the CIIDC had a regular capacity of 400 and a contingency capacity which had been increased to 1116 as of May, 2013. Other facilities on Christmas Island include <a href="#Phosphate-Hill">Phophate Hill</a> and the <a href="#Construction-Camp">Construction Camp</a>.</dd>
		
		<dt id="CSO">CSO</dt>
		<dd><a href="#Serco">Serco</a> Client Services Officer. This is the entry level position for Serco employees working at detention facilities. According to Serco job advertisements CSO’s are required “to work with clients in an empathetic manner, treating them with respect and dignity. Taking into account the client’s safety and wellbeing through maintaining a secure and stable environment by proactive integration with clients on a daily basis.”</dd>
		
		<dt id="CSM">CSM</dt>
		<dd>Serco Client Services Manager</dd>
		
		<dt id="Curtin-IDC">Curtin IDC</dt>
		<dd><p>The Curtin Detention Centre is located at Curtin RAAF Base, <a href="https://maps.google.com.au/maps?q=Map+Curtin+Detention+Centre&amp;hl=en&amp;ll=-17.573339,123.826904&amp;spn=1.013317,1.227722&amp;t=h&amp;z=9">Derby Highway</a> Derby WA 6728 in the Kimberley Region in northwest Australia on the site of Curtin Airforce base. Its postal address is SERCO, PO Box 720, Derby WA 6728. The public cannot enter the base which adds to the isolation of the Centre. The Centre was closed by the Howard government after protests from detainees. It<a href="http://www.abc.net.au/news/2013-05-10/families-begin-arriving-at-curtin-detention-centre/4682768">reopened</a> for single men only in 2010. In early May, 2013, the Gillard government moved 138 men,women and children into the Centre.</p>
		<p>Here is an <a href="http://www.google.com.au/imgres?imgurl=http://resources1.news.com.au/images/2010/08/23/1225908/955825-curtin-detention-centre.jpg&amp;imgrefurl=http://www.theaustralian.com.au/national-affairs/immigration/curtin-to-reopen-for-kids/story-fn9hm1gu-1226625452684&amp;h=366&amp;w=650&amp;sz=63&amp;tbnid=_mQGpAxNn3Jq_M:&amp;tbnh=76&amp;tbnw=135&amp;zoom=1&amp;usg=__eC0_xaZkGnLcCHy9MUAtcTOstjI=&amp;docid=wxUuIUXubKbFfM&amp;sa=X&amp;ei=hmibUc_GK-yXiAey7YDgAQ&amp;ved=0CEoQ9QEwBQ&amp;dur=468">aerial shot</a> of the IDC.</p>
		<p>In 2010, the Centre expanded from a capacity of <a href="http://www.abc.net.au/local/stories/2011/12/30/3400015.htm?site=kimberley">600 to 1200</a>. According to the Department, it has a ‘contingent’ capacity of 1500.</dd>
		<ul>
			<li><a href="http://en.wikipedia.org/wiki/Curtin_Immigration_Reception_and_Processing_Centre">Curtin Immigration Detention Center at Wikipedia</a>.</li>
		</ul>
		</dd>
		
		<dt id="DALAPOD">DALAPOD</dt>
		<dd>Darwin Airport Lodge ‘Alternative Place of Detention’ is at Winnalie to the South of Darwin near Darwin International Airport. Address.Serco PO BOX 39672 Winnellie NT 0821. According to DIAC, it had a capacity of 435 as of May 2013. Crikey published a description and<a href="http://www.crikey.com.au/2010/09/13/next-stop-the-darwin-airport-motel-home-to-150-asylum-seeker-teens/">photos</a> of the Facility in April 2010. In July, 2011, hotel developer</dd>
		
		<dt id="DAL3">DAL3</dt>
		<dd>Darwin Airport Lodge Stage 3 was still under construction as of April 2013.</dd>
		
		<dt id="DPH">DPH</dt>
		<dd>Darwin Private Hospital</dd>
		
		<dt id="Fowler">Fowler</dt>
		<dd>Fowler Compound, is an accommodation area at Villawood IDC. According to ABC’s Four Corners program Asylum (October, 2011), Fowler Compound is used to house, “high risk detainees – people at high risk to others or themselves.”</dd>
		
		<dt id="Gwalia-Lodge">Gwalia Lodge</dt>
		<dd>Gwalia Lodge is an old mining camp that was <a href="http://www.abc.net.au/local/stories/2010/06/11/2925182.htm">opened</a> as a detention facility in June 2010. It is located at <a href="https://maps.google.com/maps?q=997+Otterburn+St,+Leonora,+Western+Australi&amp;hl=en&amp;ll=-28.882032,121.329446&amp;spn=0.00481,0.008025&amp;sll=-32.010396,135.119128&amp;sspn=72.784798,131.484375&amp;t=h&amp;hnear=997+Otterburn+St,+Leonora+Western+Australia+6438,+Australia&amp;z=17">997 Otterburn St.</a> Leonora, more than 800 kilometres from Perth. At that time, there 86 asylum seekers were transferred there, including 46 children. At that stage it was not an open facility.</dd>
		
		<dt id="HRC">HRC</dt>
		<dd><a href="#AHRC">Australian Human Rights Commission</a>.</dd>
		
		<dt id="Hughes">Hughes</dt>
		<dd>Hughes is a section of <a href="#VIDC">Villawood Immigration Detention Centre</a></dd>
		
		<dt id="IDC">IDC</dt>
		<dd>Immigration Detention Centre</dd>
		
		<dt id="IDF">IDF</dt>
		<dd>Immigration Detention Facility. This broad term is used to describe a range of different categorisations of detention centres where people within the immigration detention network are held.</dd>
		
		<dt id="IHMS">IHMS</dt>
		<dd>International Health and Medical Services. This company retains the contract for the delivery of health services in immigration detention. The health provider is a related entity of International SOS, which is a multinational health services and medical evacuation company that has operations around the world. The contract for Australia’s immigration detention centres is valued at $272m and will expire in January 2014. In addition to this IHMS has also retained a $41m contract for regional processing areas, and a $21m contract for services on Manus Island and Nauru.</dd>
		
		<dt id="Incident">Incident</dt>
		<dd>
			<p>An “incident” in this context is an event in one of Australia’s immigration detention facilities which has been recorded by the facility’s staff. The private contractors that run the detention network, including companies <a href="/about/glossary/#serco">Serco</a>, <a href="/about/glossary/#IHMS">IHMS</a> and <a href="/about/glossary/#G4S">G4S</a>, are required to file incident reports to the <a href="/about/glossary/#DIAC">Australian Government Department of immigration and Citizenship (DIAC)</a>, where they are archived in a centralised database.</p>		
		<p>DIAC are ultimately responsible for the welfare of people held in the detention network. They use these incident reports as one way to understand and track occurrences and conditions in their facilities.</p>
		
		<p>The types of incidents described in the reports collected by Detention Logs include births, deaths, illnesses, accidents/injuries, self-harms, complaints, escapes, media presence, protests and more. <a href="/data/incidents">You can browse the reports with our Incident Explorer</a>.</p>
		</dd>
		<dt id="Inverbrackie-APOD">Inverbrackie APOD</dt>
		<dd>Inverbrackie Alternative Place of detention is a low security facility located at the <a href="https://maps.google.com.au/maps?saddr=Alamein+Ave&amp;daddr=Woodside-Nairne+Road,+Hay+Valley,+South+Australia&amp;hl=en&amp;ll=-34.971641,138.892593&amp;spn=0.006805,0.009592&amp;sll=-34.964818,138.898001&amp;sspn=0.027221,0.038366&amp;geocode=FVhf6v0dr1dHCA%3BFRod6v0dhXRHCClhXzX1LTi3ajEMK6YQd1XfXw&amp;t=m&amp;mra=dme&amp;mrsp=0&amp;sz=14&amp;z=16">corner of Alamein Avenue and Woodside-Nairne Road</a> Inverbrackie SA 5244. The postal address is Inverbrackie APOD 10 Woodside-Nairne Road, Inverbrackie SA. According to DIAC, it can accommodate up to 400 people. It opened early in 2011 and is separated from an adjacent Defence facility by a 3 metre high fence and is also fenced at the front of the site. In July 2011, DIAC was reported to have repeatedly refused the Sunday Mail <a href="http://www.adelaidenow.com.au/inside-the-secret-world-of-inverbrackie-detention-centre/story-e6frea6u-1226091448715">access</a> to the Centre or to speak to detainees.</dd>
		
		<dt id="IRH">IRH</dt>
		<dd>Immigration Residential Housing. This term is used to describe parts of some detention facilities where detainees live that are considered by the Department of Immigration and Citizenship to be more focused on community living.</dd>
		
		<dt id="ITA">ITA</dt>
		<dd>Immigration Transit Accommodation</dd>
		
		<dt id="Jandakot-APOD">Jandakot APOD</dt>
		
		<dd>Jandakot Alternative Place of Detention is near Jandakot Airport at <a href="https://maps.google.com/maps?q=1+Wessex+Road,+Jandakot,+Western+Australia,+Australia&amp;hl=en&amp;sll=-32.010396,135.119128&amp;sspn=72.784798,131.484375&amp;oq=1+Wessex+&amp;t=h&amp;hnear=Wessex+Rd,+Jandakot+Western+Australia+6164,+Australia&amp;z=16">1 Wessex Road</a>, Western Australia. In May, 2011, The West Australian <a href="http://au.news.yahoo.com/local/wa/a/-/local/9382563/asylum-seekers-held-at-jandakot-airport/">reported</a> that 80 asylum seekers were being held in what are known as the Airport Chalets which is owned by Jandakot Airport Chalets Pty Ltd.</dd>
		
		<dt id="LAPOD">LAPOD</dt>
		<dd><p>Leonora Alternative Place of Detention was commissioned in June, 2010 and is located at <a href="https://maps.google.com/maps?q=111+Otterburn+Road+Leonora&amp;hl=en&amp;ll=-28.882065,121.329521&amp;spn=0.001202,0.002006&amp;sll=-32.010396,135.119128&amp;sspn=72.784798,131.484375&amp;t=h&amp;hnear=111+Otterburn+St,+Leonora+Western+Australia+6438,+Australia&amp;z=19">111 Otterburn Road Leonora</a>, 830 km from Perth, WA 6438. The nearest major town is Kalgoorlie, which is more than 200 km. away. It has a capacity of 210. It is called an <a href="#APOD">Allternative Place of Detention</a> because it rented from a private owner. It is a low security facility. When the Human Rights Commission( HRC) visited in November, 2010, there were 66 children, 69 men and 67 women in the Centre. The Commission had many concerns about the Centre including its harsh environment, remote location, concerns about food for children, lack of monitoring of health services, lack of adequate treatment for pregnant women, length of detention and high turnover of DIAC case managers.</p>
		 <ul>
		 	<li><a href="https://www.humanrights.gov.au/publications/2011-immigration-detention-leonora">Human Rights Commission report on Leonora</a></li>
			<li><a href="https://www.humanrights.gov.au/publications/diac-response-2011-australian-human-rights-commission-statement-immigration-detention-1">DIAC response</a></li>
		 	<li><a href="https://www.humanrights.gov.au/publications/photos-immigration-detention-leonora-2011">Photos</a></dd></li>
		</ul>
		</dd>
		
		<dt id="Leonora-APOD">Leonora APOD</dt>
		<dd><a href="#LAPOD">Leonora Alternative Place of Detention</a></dd>
		
		<dt id="Leonora-Lodge">Leonora Lodge</dt>
		<dd><a href="http://www.yellowpages.com.au/wa/leonora/leonora-lodge-12862485-listing.html">Leonora Lodge</a> is a private motel in Leonora,830 km.from Perth.</dd>
		
		<dt id="Lilac-Aqua">Lilac Aqua</dt>
		<dd>Lilac Aqua is a detention facility located on <a href="#CIDC">Christmas Island Detention Centre</a>. This is a <a href="https://www.humanrights.gov.au/sites/default/files/content/human_rights/immigration/images/id2010_christmas_island_14.jpg">photo</a> taken by the Human Right Commission during a visit.
		These compounds were damaged in 2011 by fires lit in protest during a period of overcrowding.</dd>
		
		<dt id="MIDC">MIDC</dt>
		<dd>Maribyrnong Immigration Detention Centre or
		MIDC is a single-level detention facility constructed in the early 1980s and opened in 1983. It was extended and refurbished in 2005. It is located in Maidstone, 8 km from the CBS in the northwest suburbs of Melbourne. According to DIAC, MIDC has an regular capacity of 56 people and a ‘contingent’ capacity of 99. Full contact details and address can be found at <a href="http://goo.gl/maps/5ecBU">53 Hampstead Road</a>, Maidstone, Vic. 3012.</dd>
		
		<dt id="Maribyrnong-IDC">Maribyrnong IDC</dt>
		<dd>Maribyrnong Immigration Detention Centre. ( see above).</dd>
		
		<dt id="MITA">MITA or Melbourne ITA</dt>
		<dd>Melbourne Immigration Transit Accommodation.</dd>
		
		<dd>This immigration facility is a small 2 story residential building located 15 km north of Melbourne in Broadmeadows. According to DIAC, MITA has a regular capacity of 130 and a ‘contingent’ capacity of 144. The facility is located at Melbourne Immigration Transit Accommodation, Corner of Centre and Main Roads, Maygar Barracks, <a href="https://maps.google.com/maps?q=150+Camp+Road+,+Broadmeadows&amp;hl=en&amp;sll=-37.687709,144.946103&amp;sspn=0.004415,0.008025&amp;t=h&amp;hnear=150+Camp+Rd,+Broadmeadows+Victoria+3047,+Australia&amp;z=16">150 Camp Road</a> , Broadmeadows Vic. 3047</dd>
		
		<dt id="MRRC">MRRC or MRRC Correctional Centre</dt>
		<dd>Metropolitan Remand and Reception Centre at Silverwater Correctional Complex</dd>
		
		<dd>Metropolitan Remand and Reception Centre is a maximum security area at Silverwater Correctional Complex in Western Sydney, housing around 900 male inmates. The facilites address is <a href="https://maps.google.com.au/maps?q=Holker+St,+Silverwater+NSW+2128&amp;ll=-33.831674,151.055199&amp;spn=0.004006,0.007993&amp;oe=utf-8&amp;client=firefox-beta&amp;channel=fflb&amp;hnear=Holker+St,+Silverwater+New+South+Wales+2128&amp;gl=au&amp;t=h&amp;z=18">Holker St, Silverwater NSW 2128</a>.
		 + <a href="http://www.correctiveservices.nsw.gov.au/offender-management/correctional-centres/metropolitan_remand_and_reception_centre">Find more information at the New South Wales Government Corrective Services website.</a></dd>
		
		<dt id="MSS">MSS</dt>
		<dd>MSS Security is Australia’s largest security company. Previously known as Chubb Security, it was acquired by the largest security company in the Asia Pacific Region, the Indian company <a href="http://www.sisindia.com/">Security and Intelligent Services</a> This company was subcontracted by Serco to deliver security services at Immigration Detention Facilities. MSS
		<a href="http://antony.wpmu.wud-web.com/2011/02/22/villawood-guards-blow-whistle-on-abuses-at-detention-centre/">lost</a> lost its contract with Serco in 2011. Wilson Security is now responsible for subcontracted security services in mainland detention centres.</dd>
		
		<dt id="NIDC">NIDC</dt>
		<dd>Northern Immigration Detention Centre.</dd>
		
		<dd>
			<p>NIDC was originally constructed in 2001 as contingency centre for irregular maritime arrivals. The facility is ‘high security’ and has a regular capacity of 456 and a ‘contingent’ capacity of 554. it is located at <a href="https://maps.google.com/maps?q=loc:-12.429905,130.912274&amp;hl=en&amp;ll=-12.430039,130.90961&amp;spn=0.010896,0.01605&amp;t=m&amp;z=16">Stuart Highway Berrimah NT</a> near the junction of Amy Johnstone Drive and the Sturt Highway. Postal address. PO Box 39672. Winnellie NT It consists of three compounds and accommodation and communal facilities. In 2008 and 2010, the Australian Human Rights Commission expressed concerns about the harsh physical appearance of the Centre. It found a significant amount of high wire created a ‘punitive feeling.’</p>
			<p>There is a photo at <a href="https://www.humanrights.gov.au/publications/immigration-detention-darwin-2010#Heading117">6.1</a> of the Australian Human Rights Commision report. When the HRC visited in 2010 it found NIDC was not suitable for longer term detention. Other concerns and recommendations can be found it the report. There is a full diagram of the Centre in <a href="http://www.immi.gov.au/media/publications/pdf/2011/appendices.pdf">Appendix D</a>of this DIAC document.</p>
			<ul>
				<li><a href="http://en.wikipedia.org/wiki/Northern_Immigration_Detention_Centre">Northern Immigration Detention Center at Wikipedia</a></li>
				<li><a href="http://en.wikipedia.org/wiki/File:Northern_Immigration_Detention_Facility_in_April_2010.jpg">Image of Northern Immigration Detention Centre</a> as of April 2010.</li>
			</ul>
		</dd>
		<dt id="Northern IDC">Northern IDC</dt>
		<dd><a href="#NIDC">Northern Immigration Detention Centre</a></dd>
		
		<dt id="NWP">NWP</dt>
		<dd>North West Point Immigration Facility.</dd>
		
		<dd>NWP is located on Christmas Island and was constructed in 2008. The facility expanded the scope of detention facilities on the Island. <strong>It is also known as Christmas Island IDC (Immigration Detention Centre)</strong>. It is located near Kalgoorlie Street in the <a href="https://maps.google.com/maps?q=Christmas+Island&amp;hl=en&amp;ll=-10.469666,105.575438&amp;spn=0.021944,0.032101&amp;sll=-32.010396,135.119128&amp;sspn=73.806301,131.484375&amp;t=h&amp;hnear=Christmas+Island&amp;z=15">northwest corner</a> of Christmas Island.</dd>
		
		
		<dt id="OBS">OBS</dt>
		<dd>Observation Room is a room where detainees are locked for the purposes of being kept under observation. </dd>

		<dt id="PIDC">PIDC</dt>
		<dd>Perth Immigration Detention Centre.</dd>
		
		<dd>PIDC is a single-level secure detention facility that was adapted from an old Federal Police building. It is located within the Perth Domestic Airport at the Corner <a href="https://maps.google.com/maps?q=McComb+Road,+Perth+Airport,+Western+Australia,+Australia&amp;hl=en&amp;ll=-31.932797,115.958156&amp;spn=0.001674,0.002006&amp;sll=-31.931404,115.95902&amp;sspn=0.018939,0.032101&amp;oq=McComb&amp;hnear=McComb+Rd,+Perth+Airport+Western+Australia+6105,+Australia&amp;t=h&amp;z=19">Baker &amp; McComb Roads</a>, Redcliffe WA 6104. It’s postal address is Perth IDC, Locked Bag 7,Northbridge WA 6865 It was first opened as a detention facility in 1981. The single level, 1130m2 site includes a “north wing” for men and a “west wing” for women. There is also an ”east wing” that has some accommodation and general factilities. It has a regular capacity of 25 and a contingent capacity of 42.</dd>
		
		<dt id="Perth-IDC">Perth IDC</dt>
		<dd><a href="#PIDC">Perth Immigration Detention Centre</a></dd>
		
		<dt id="PIRH">PIRH</dt>
		<dd>Perth Immigration Residential Housing was opened in 2007 and is located at <a href="https://maps.google.com/maps?q=99+Kanowna+Avenue+West,+Redcliffe,+Western+Australia,+Australia&amp;hl=en&amp;ll=-31.935301,115.946059&amp;spn=0.009469,0.01605&amp;sll=-31.935265,115.946059&amp;sspn=0.009469,0.01605&amp;hnear=99+Kanowna+Ave+E,+Redcliffe+Western+Australia+6104,+Australia&amp;t=m&amp;z=16&amp;lci=com.panoramio.all">97&#8211;99 Kanowna Ave</a>. Redcliffe, Perth. It consists of two accommodation buildings, each with five bedrooms and a third building for facilities. It is a place of detention with restrictions on visits. DIAC refers to the security as ‘subtle and unobtrusive.’</dd>
		
		<dt id="Perth-IRH">Perth IRH</dt>
		<dd><a href="#PIRH">Perth Immigration Residential Housing</a></dd>
		
		<dt id="Phosphate-Hill">Phosphate Hill</dt>
		<dd><p>Phosphate Hill is a temporary immigration facility situated approximately 5kms from the settled areas of Christmas Island, and is adjacent to the Christmas Island Recreation Centre and across the road from the <a href="#Christmas-Island-Construction-Camp">Christmas Island Construction Camp</a>. It’s designated as an <a href="#APOD">Alternative Place of Detention</a> and was first opened in 2001. It is made up of two areas. The Human Rights Commission was critical of Phosphate Hill in its 2011 Report at <a href="https://www.humanrights.gov.au/publications/2010-immigration-detention-christmas-island#Heading742">17.2</a>. Photos are included in that report.</p>
		<p>In 2009, single men were accommodated in tents on the site which took up most of the available open space. The available small bedrooms contained only a bed and had bars on them.</p>
		<p>In its 2011 report, the Human Rights Commission found of three facilities on Christmas Island, Phosphate Hill had the ‘lowest amenity.”</p>
		<p>In May 2013, DIAC claims that accommodation in areas in the Alpha and Charlie compounds are suitable for’ single women, unaccompanied minors, families, or vulnerable clients’. The area has capacity for up to 150 people depending on family composition.</p>
		<p>Within Phosphate Hill, a separate compound call Bravo has been constructed to hold up to 168 adults</p></dd>
		
		<dt id="Phosphate-Hill-B-Compound">Phosphate Hill B Compound</dt>
		<dd>Phosphate Hill B Compound is part of the <a href="#Phosphate-Hill">Phosphate Hill immigration factility</a>. Bravo compound is a fenced area within the compound which is designed to hold up to 168 men.</dd>
		
		<dt id="Port-Augusta-IRH">Port Augusta IRH</dt>
		<dd>Port Augusta Immigration Residential Housing was reopened in 2010. It is located in <a href="https://maps.google.com.au/maps?q=ellis+close+port+augusta&amp;ll=-32.478153,137.753985&amp;spn=0.001751,0.002398&amp;hnear=Ellis+Close,+Port+Augusta+West+South+Australia+5700&amp;gl=au&amp;t=h&amp;z=18">Ellis Close</a>, Port Augusta. It consists of 8 residential houses. It has a regular capacity of 58 people, with a ‘contingent’ capacity of 64. In April 2010, DIAC transferred 60 unaccompanied ‘minors’ to the Facility.</dd>
		
		<dt id="RDH">RDH</dt>
		<dd>Royal Darwin Hospital</dd>
		
		<dt id="RRT">RRT</dt>
		<dd>Refugee Review Tribunal.</dd>
		
		<dd>Asylum Seekers who have received an adverse decision from the Department of Immigration and Citizenship regarding their refugee claim can lodge appeal to the Tribunal.</dd>
		
		<dt id="SIDC">SIDC</dt>
		<dd><a href="#Scherger-IDC">Scherger Immigration Detention Centre</a>. Scherger detention facility was opened in October 2010 and is a former RAAF base.</dd>
		
		<dt id="SIRH">SIRH</dt>
		<dd>Sydney Immigration Residential Housing</dd>
		
		<dd><p>Sydney IRH is adjacent to <a href="Villawood">Villawood IDC</a> in western, Sydney, and comes under the same management, though it is often characterised as a separate facility.</p>
		<p>According to DIAC&#8217;s website &#8216;Placement in immigration residential housing allows people in immigration detention to live in a more domestic environment and permits a greater degree of autonomy over their life while remaining formally in immigration detention.</p>
		</dd>
		
		<dt id="SASH-Way=tch">SASH Watch</dt>
		<dd>Suicide and Self-Harm Watch</dd>
		
		<dt id="Scherger-IDC">Scherger IDC</dt>
		<dd><p>Scherger Immigration Detention Centre was opened in 2010 to detain single men. It is located at Scherger airforce base at <a href="https://maps.google.com.au/maps?q=RAAF+Base,+Weipa&amp;hl=en&amp;ll=-12.626603,142.078629&amp;spn=0.129653,0.153465&amp;sll=-32.010396,135.119128&amp;sspn=56.226871,78.574219&amp;t=h&amp;hq=RAAF+Base,&amp;hnear=Weipa+Queensland&amp;z=12">Mathawanh Road</a>, Weipa in remote area of northern Australia. Postal address is PO Box 983 Weipa QLD 4874.</p>
		<p>The regular capacity of Scherger IDC is e 300 single men with a ‘contingent’ capacity of 600. Here’s a <a href="http://www.cairns.com.au/images/uploadedfiles/editorial/pictures/2011/07/24/Cairns-WebUsual-CP25JUL11P004-M9059291-SCHERGER.JPG">photo</a> of the Centre.</p>
		<p>In July 2011, between 60 and 80 men went on a hunger strike as result of frustration due to delays in processing their claims. The Asylum Seeker Resource Centre <a href="http://www.news.com.au/national-news/asylum-seekers-self-harm/story-e6frfkvr-1226100360115">said</a> some men had been detained there for up to 20 months and that two men were unconscious after cutting themselves.</p>
		</dd>
		
		<dt id="Serco">Serco</dt>
		<dd>
		<p>Serco Group plc is a British government services company based in Hook, North Hampshire in the United Kingdom. It is listed on the London Stock Exchange and is a constituent of the FTSE 100 Index. Among its operations are public and private transport and traffic control, electronic monitoring,aviation, military and nuclear weapons contracts, detention centres and prisons, and schools. Serco’s contract with the Immigration Department to supply detention services ends on 28 June 2014.</p>
		 <p>Information from <a href="DIAC">DIAC</a>:</p>
		
		<blockquote>
		<p>On 29 June 2009, DIAC entered into a five-year contract with Serco Australia Pty Ltd (Serco) to provide services at immigration facilities. Serco took responsibility for detention service provision through a staged approach beginning on Christmas Island on 1 October 2009. The transition from the previous detention service provider to Serco was completed on 31 January 2010 when Serco took responsibility for managing all immigration detention facilities on Christmas Island and mainland Australia.</p></blockquote>
		 <ul>
		 	<li><a href="http://www.serco.com/">Serco company website</a></li>
		 	<li><a href="http://bluecabinet.info/wiki/Main_Page">BlueCabinet’s backgrounder on Serco.</a></li>
		 	<li>New Matilda’s 2011 stories <a href="http://newmatilda.com/2011/11/09/exclusive-our-contract-serco">revealing</a> the Serco contract.</li>
		 </ul>
		</dd>
		
		<dt id="SKSA">SKSA</dt>
		<dd>Sydney Kingsford Smith Airport. This location is referred to occasionally in Detention Logs data because it’s where many international flights depart that transport deported detainees.</dd>
		
		<dt id="s-47F(1)">s. 47F(1)</dt>
		<dd>Redacted by the Department of Immigration and Citizenship under the personal privacy exemption of the Freedom of Information Act 1982 (Cth). This provision has most often been used in relation to the identities of asylum seekers.</dd>
		
		<dt id="SA-Detention-Operations">SA Detention Operations</dt>
		<dd>SA Detention Operations refers to detention centres in South Australia.</dd>
		
		<dt id="Sydney-IRH">Sydney IRH</dt>
		<dd>See <a href="#IRH">IRH</a></dd>
		
		<dt id="VHS">VHS</dt>
		<dd>Voluntary Hunger Strike. It involves a deliberate refusal of food usually an action taken as a form of protest by a prisoner.</dd>
		
		<dt id="Virginia-Palms-Motel">Virginia Palms Motel</dt>
		<dd>Virginia Palms Motel is located at Boondall, Brisbane. In May 2010, it was <a href="http://www.brisbanetimes.com.au/queensland/asylum-seekers-its-no-holiday-20100511-uubp.html">awarded</a> a $12 million contract to house asylum seekers. The detainees were locked up.</dd>
		
		<dt id="Villawood">VIDC</dt>
		<dd>Villawood Immigration Detention Centre.</dd>
		
		<dd>
			<p>Villawood Immigration Detention Centre (aka VIDC and Villawood IDC) is managed by <a href="http://www.serco-ap.com.au/">Serco Australia Pty Ltd</a> (Australian branch of the UK based multinational <a href="http://www.serco.com/">Serco Group</a>), and is located in western Sydney at <a href="https://maps.google.com.au/maps/ms?msid=201451526145055160953.00049f30e3d60e94e64f7&amp;msa=0&amp;ll=-33.874406,151.165695&amp;spn=0.488001,0.889206&amp;iwloc=00049f311be096c3099bf">15 Birmingham Avenue, Villawood NSW 2163</a>. It has an operating capacity of 379 detainees and a contingency capacity of 480 (as of <a href="http://www.immi.gov.au/managing-australias-borders/detention/facilities/capacity/">29th April 2013</a>).</p>
		
		<p>Villawood IDC has 3 main sections:</p>
		
		<ul>
		<li>Blaxland (aka Stage 1)</li>
		<li>Hughes (aka Stage 2), contains female-only area Banksia</li>
		<li>Fowler (aka Stage 3), for “high risk detainees – people at high risk to others or themselves,” according to <a href="http://www.abc.net.au/4corners/stories/2011/10/20/3344543.htm">ABC’s Four Corners program Asylum (October, 2011)</a></li>
		</ul>
		
		<p>Sydney Immigration Residential Housing (IRH) is adjacent to Villawood IDC and is also managed by Serco.</p>
		
		<p>An immigration processing facility was first opened at Villawood in 1976. Prior to that time it was called the Westbridge Migrant Hostel, which was opened in 1946 to provide accommodation for new migrants. The facility was initially run by the Federal Government but management was outsourced in 2003 to <a href="http://en.wikipedia.org/wiki/G4S">G4S</a>. In 2009 G4S lost the contract and Serco took over the facility.</p>
		
		<ul>
		<li><a href="http://detentionlogs.github.io/australian-detention-numbers/#VIDC-and-SIRH">Information about the detainee population at Villawood IDC and Sydney IRH</a></li>
		<li><a href="http://www.immi.gov.au/managing-australias-borders/detention/facilities/locations/villawood/">Villawood IDC on DIAC Website</a></li>
		<li><a href="http://en.wikipedia.org/wiki/Villawood_Immigration_Detention_Centre">Villawood IDC Wikipedia entry</a></li>
		</dd>

		<dt id="WAPOL">WAPOL</dt>
		<dd>Western Australia Police</dd>
		
		<dt id="Wickham-Point">Wickham Point</dt>
		<dd><p>Wickham Point Detention Centre was originally constructed to detain adult male asylum seekers. it has three separate compounds, each accommodating 500 people. It is located at <a href="https://maps.google.com/maps?q=1235+Channel+Island+Road,+Mitchell,+Northern+Territory,+Australia&amp;hl=en&amp;ll=-12.531188,130.982351&amp;spn=0.021784,0.032101&amp;sll=-32.010396,135.119128&amp;sspn=73.806301,131.484375&amp;oq=1235+Channel+Island+Road,+&amp;t=h&amp;hnear=Channel+Island+Rd,+Mitchell+Northern+Territory+0832,+Australia&amp;z=15">1235 Channel Island Rd</a>. Wickham Point NT 0822. Construction began in 2011. Postal Address: Serco Immigration Services , Wickham Point ,P.O. Box 143 , Palmerston NT 0830. Here’s a <a href="http://www.abc.net.au/news/image/1966362-3x2-940x627.jpg">photo</a> of the Centre.</p>
		<p>In April 2013, The Age <a href="http://www.theage.com.au/opinion/political-news/children-to-be-moved-to-detention-centres-20130430-2ir8y.html">reported</a> that one of the compounds would be used to detain children. Professor Louise Newman of Monash University said that this Centre was unsuitable for children.</p></dd>
    </article>

<%= render 'layouts/footer' %>
