<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Detention Logs | Inside Australia's immigration detention network</title>

        <meta name="author" content="Detention Logs">
        <meta name="description" content="We publish databases, documents and investigations that reveal new perspectives on conditions and events in Australia’s immigration detention network.">
        <meta name="viewport" content="width=device-width">
		<meta name="google-site-verification" content="UyFaPbUx_nMcjSfI1G-dkYcTZljC0-do61HPxvESXic" />

	    <link href="/assets/style.css?body=1" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body class="home">
    <section role="main" class="reading main">
    	<h1 class="logo"><a href="" rel="home">Detention Logs<span> beta</span></a></h1>

	    <p class="lede">We publish data, documents and investigations that reveal new perspectives on conditions and events inside immigration detention. Detention Logs supports deeper community knowledge of and accountability
for conditions in Australia's immigration detention network.</p>

	    <p class="distinct"><strong>Access the <a href="/data/incidents" title="Explore Incident Reports, records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government">data</a>.</strong></p>

	    <p class="distinct"><strong>Follow our <a href="/investigations" title="A list of investigation that have drawn on the information published by Detention Logs.">investigations</a>.</strong></p>

	    <p class="distinct"><strong>Learn more <a href="/about" title="Find out more about this project and the people involved.">about the project</a>.</strong></p>

	    <p class="distinct"><strong>Find out how you can <a href="/contribute" title="Help bring more documents to light.">contribute</a>.</strong></p>

	    <p class="discrete">Follow <a href="http://twitter.com/detentionlogs" title="The Detention Logs Twitter profile.">@DetentionLogs</a> for updates</p>
    </section>

	<footer role="contentinfo" class="main site-footer">
		<nav class="footer-nav" id="navigation">
			<ul class="supporting">
				<li><a href="/glossary">Glossary</a></li>

				<li><a href="/principles">Our Principles</a></li>

                <li><a href="/investigations/recipe">Reporting Recipe</a></li>
			</ul>
		</nav>
		<ul class="footer-contact contact  supporting">
			<li><a class="twitter" href="https://twitter.com/DetentionLogs/" title="Detention Logs on Twitter" rel="me">@detentionlogs</a></li>

			<li><a class="github" href="https://github.com/DetentionLogs/" title="Detention Logs on Github" rel="me">GitHub</a></li>
		</ul>
		<ul class="footer-contact contact  supporting">
            <li><a class="email" href="/about/#contact" title="Contact Detention Logs.">Contact</a></li>
		</ul>

	</footer>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src='../assets/jquery-1.9.1.min.js'>\x3C/script>")</script>
		<script>window.jQuery || document.write("<script src='http://localhost:3000/assets/jquery-1.9.1.min.js'>\x3C/script>")</script>
	    <script src="http://localhost:3000/assets/site.js"></script>

	</body>
</html>    </body>
</html>
