<%= render 'pages/header' %>

    <article role="main" class="main reading">
	
		    <h1>Investigations</h1>
		
			<h2><a href="http://www.theglobalmail.org/feature/villawood-contamination-police-threaten-boycott/607/">Villawood Contamination: Police Threaten Boycott</a></h2>
		
			<p><em>May 2, 2013</em> - Following revelations that easily spread asbestos remained unaddressed at Villawood, the NSW Police Association is threatening to ban officers from the controversial detention centre.</p>

			<h2><a href="http://www.theglobalmail.org/feature/toxic-villawood-government-warned-of-continuing-asbestos-risk/604/">Toxic Villawood: Government Warned Of Continuing Asbestos Risk</a></h2>
		
			<p><em>April 30, 2013</em> - Reports of dangerous asbestos contamination, revealed under Freedom of Information, show hazards have been left unaddressed at Villawood, the nation’s largest mainland detention centre.</p>
	


	
    </article>

<%= render 'pages/footer' %>
