<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Our Principles | Detention Logs</title>

        <meta name="author" content="Detention Logs">
        <meta name="description" content="We publish databases, documents and investigations that reveal new perspectives on conditions and events in Australia’s immigration detention network.">
        <meta name="viewport" content="width=device-width">
		<meta name="google-site-verification" content="UyFaPbUx_nMcjSfI1G-dkYcTZljC0-do61HPxvESXic" />

	    <link href="/assets/style.css?body=1" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body class="principles">
	<header class="site-header">
    	<h1 class="logo"><a href="http://detentionlogs.com.au" rel="home">Detention Logs</a></h1>
    	<nav class="main-nav">
    		<a href="#navigation" class="menu-btn">Menu</a>
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><a href="http://detentionlogs.com.au/principles">Principles</a></li>
			</ul>
		</nav>
    </header>

    <article role="main" class="main reading">
	    <h1>Our Principles</h1>
	    <p class="lede">The following principles inform our journalistic, design and technology choices.</p>
		
		<ol class="distinct">
			<li><a href="#be-open-and-accountable">Be open and accountable</a></li>
			<li><a href="#publish-for-people-not-to-them">Publish <em>for</em> people, not <em>to</em> them</a></li>
			<li><a href="#were-all-in-this-together">We're all in this together</a></li>
		</ol>
		
		<h2 id="be-open-and-accountable">Be open and accountable</h2>
		
		<p>By making ourselves open and transparent we become more accountable for our actions and are held to a high standard. Our community of users deserve to know who we are and how we work, just as they derserve to know the details of the opperations of Government darpmartments and private companies who represent them.</p>
		
		<p>Australian Government Departments should develop programs to publish data more proactively, to increase accountability of the public service and the public’s engagement with it. <a href="http://agimo.gov.au/files/2013/03/Big-Data-Strategy-Issues-Paper1.pdf">The Department of Finance and Deregulation presented an issues paper on Big Data in March 2013</a>, stating that, ”Big data allows for more focused and evidence-based policy design” and developing proactive data publishing programs may result in “reduction of fraudulent or criminal activity across both government and private sectors”.</p>
		
		<p>We aim to encourage proactive publication of immigration detention data and will actively campaign to facilitate this access.</p>
		
		<p>We aim to set an example with our own publishing standards. Our data and documents should be available for reuse, republishing and remixing. When making publishing decisions, we always start from a default position of openness, using a Creative Commons, Attribution license, and then adding responsible restrictions if necessary (for example, our investigations text will be availble under a Creative Commons Attribution, <em>Non-Commercial</em> Share-Alike license).</p>
		
		<p>Check the bottom of each page for specific copyright licensing information for that content, and always feel free to contact us if you have inquiries about using any of the content published by Detention Logs.</p>
		
		<ul>
		<li>Evidence-based reporting is essential. This involves an assessment of the probative value of facts and the selection, emphasis and use of them based on that assessment.</li>
		</ul>
		
		<h2 id="publish-for-people-not-to-them">Publish <em>for</em> people, not <em>to</em> them</h2>
		
		<p>The primary goal of Detention Logs is to provide the public with the facts they need to better understand the reality of Australia’s immigration detention network. Across our editorial, design and publishing practices, we judge the success of our choices against how our work is used to support more informed policy discussion and challenge inhumane policy based on spin. We provide information to be engaged with and pulled apart by our audience, rather than just accepted passively.</p>
		<section class="references discrete">
			<h3>References</h3>
			
			<ul>
			<li>“Publish for people, not too them” is a quote from Mandy Brown’s article <cite>Babies and the Bathwater</cite> on contempory publishing.</li>
			<li><a href="http://isbn.nu/9780143114949" title="Here Comes Everybody on Wikipedia">Here Comes Everyobody, Clay Shirky, 2006</a></li>
			<li><cite><a href="http://jonathanstray.com/what-should-the-digital-public-sphere-do">What Should The Digital Public Sphere Do?</a>, Jonothan Stray, 2011</cite></li>
			</ul>
		</section>
		
		<h2 id="were-all-in-this-together">We’re all in this together</h2>
		
		<p>We hold ourselves to the same standard of transparency that we aim to achieve for the immigration detention network, and believe that our methods are improved by being public. Our methodology for processing data will be published with each dataset we analyse. We will also publish our processes for investigation, data processing and publish, as we have drawn on what others have published in turn. </p>
		
		<p>Our mission and methods are drawn from the ideas of pioneering organisations and individuals. Credit should be given where it is due. Our major influences include Wikileaks, Pro Publica, Heather Brooke, Clay Shirky, Open Australia, Edward Tufte, Jeremy Keith, Robert Rosenthal, </p>
		
		<p>We ask for help and </p>
		
		<section class="references discrete">
			<h3>References</h3>
			<ul>
				<li><a href="http://towcenter.org/research/post-industrial-journalism/">Post Industrial Journalism Review: Preparing for the Present, C.W. Anderson, Emily Bell and Clay Shirky
				Tow Center for Digital Journalism, Columbia Journalism School, Nov. 27, 2012</a></li>
				<li><a href="https://www.youtube.com/watch?v=YdVCl4iD6CA">Keynote at Back To The Source, ACIJ Conference 2011, Robert Rosenthal youtube</a></li>
			</ul>
		</section>
		
		<h2 id="takethelongtermview">Take the long term view</h2>
		
		<p>What new uses and meanings will the information we publish today have in 2, 5, 10, 20, 50, 100 years? Similar records from just a century ago are treasured by historians and researchers for providing insight into our society’s past attitudes and policies.</p>
		
		<p>We cannot predict how our work will be used in the future, but must protect the potential for it to be used in powerful, novel ways by being as open and interoperable as posible.</p>
		
		<p>In our explanations we should be as clear as possible and not assume prior knowledge. We will protect our urls and attempt to support groups like Trove, Internet Archive, Pandora etc. in archiving our work for long term accessability.</p>
		
		<h2 id="avoidbalanceasbias">Avoid balance as bias</h2>
		
		<ul>
		<li><p>Our reporting aims to uncover the truth about events in immigration detention and provide a voice for marginalised asylum seekers and refugees through rigorous investigation. Our reporting efforts will draw on the data we have obtained and other sources to verify it’s accuracy.</p></li>
		<li><p>Fairness in reporting doesn’t mean that our reports will always be balanced. We won’t publish statements from government agencies, corporations or other entities simply to fill page space if those statements have low value. A factual proposition does not need to be weighed evenly against a counter proposition if the counter proposition&#8217;s probative value is low. </p></li>
		</ul>
		
		<h2 id="privacy">Privacy</h2>
		
		<blockquote>
		<p>Aim to attribute information to its source. Where a source seeks anonymity, do not agree without first considering the source&#8217;s motives and any alternative attributable source. Where confidences are accepted, respect them in all circumstances.
		— <a href="http://www.alliance.org.au/code-of-ethics.html">Media Alliance Code of Ethics</a></p>
		</blockquote>
		
		<p>Source protection is an inviolable principle of journalism. We will never betray anonymity we grant to sources.</p>
		
		<p>We will protect the privacy of asylum seekers who may be exposed to harm or risk. Asylum seekers have a legitimate expectation of privacy in information that may identify them, and we will respect that expectation in our reporting. But in circumstances where asylum seekers consent to the use of identifying information, and where there is a public interest in it’s release, we will publish personal details.</p>
		
		<p>We will not grant anonymity to government spokespersons. If a person is speaking on behalf a government minister or agency then they should be accountable for those statements. With anonymity can come deniability—official spokespersons should not be able to deny statements they have made in response to inquries by the public. There is an expectation that anything a person says is on the record, unless explicitly stated otherwise. Public servants weild considerable power in our society and should be transparent in the ways they engage with journalists and the public.</p>
		
		<h2 id="otherguideswelookto:">Guides we look to:</h2>
		
		<ul>
		<li><a href="http://www.alliance.org.au/code-of-ethics.html">Media Alliance Code of Ethics</a>.</li>
		<li>Economist Style Guide</li>
		<li>The Guardian Editorial Code</li>
		<li><a href="http://craigmod.com/journal/subcompact_publishing/#sub_manifesto">Subcompact Publishing Manifesto</a></li>
		</ul>
    </article>

	<footer role="contentinfo" class="main site-footer">
		<nav class="footer-nav" role="navigation" id="navigation">
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><a href="http://detentionlogs.com.au/principles">Principles</a></li>
			</ul>
			<ul class="supporting">
				<li><a href="http://detentionlogs.com.au/about/resources">Resources</a></li>
				<li><a href="http://detentionlogs.com.au/glossary">Glossary</a></li>
				<li><a href="http://detentionlogs.com.au/principles">Our Principles</a></li>
			</ul>
		</nav>
		<ul class="footer-contact contact  supporting">
			<li><a class="twitter" href="https://twitter.com/DetentionLogs/" title="Detention Logs on Twitter" rel="me">@detentionlogs</a></li>
			<li><a class="github" href="https://github.com/DetentionLogs/" title="Detention Logs on Github" rel="me">GitHub</a></li>
		</ul>
		<ul class="footer-contact contact  supporting">
			<li><a class="email" href="">Contact</a></li>
<!-- 			<li><a class="phone google-voice" href="">+08 173 453 235</a></li> -->
		</ul>
		<article id="copyright" class="supporting">
			<h2 class="discrete">Using this content / Copyright</h2>
			<p>Umami synth dreamcatcher skateboard, pickled pop-up occupy pug.  Williamsburg shoreditch pop-up, street art keytar before they sold out authentic sriracha semiotics truffaut hella plaid wes anderson church-key carles.  Gastropub aesthetic +1, blue bottle ethnic hoodie cliche.</p>
			<p>Semiotics actually bespoke, high life street art +1 carles fanny pack neutra williamsburg craft beer whatever 90's.  Forage truffaut wes anderson, narwhal photo booth food truck actually swag next level.</p>
		</article>
	</footer>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src='../assets/jquery-1.9.1.min.js'>\x3C/script>")</script>
	    <script src="http://localhost:3000/assets/site.js"></script>

	</body>
</html>    </body>
</html>
