
&lt;h2 class=&quot;glossary-letter&quot; id=&quot;{{ glossary-item.letter }}&quot;&gt;&lt;a href=&quot;#{{ glossary-item.letter }}&quot; title=&quot;&quot;&gt;{{ glossary-item.letter }}&lt;/a&gt;&lt;/h2&gt;

{{&gt; molecules-glossary-module }}
