// Breakpoints
// for use in media queries
// in conjunction with the Breakpoint Compass extension

$bp-xxs:  20em;
$bp-xs:   30em;
$bp-s:    35em;
$bp-m:    43em;
$bp-l:    55em;
$bp-xl:   65em;
$bp-xxl:  75em;
$bp-xxxl: 85em;
