// Breakpoints
// for use in media queries
// in conjunction with the Breakpoint Compass extension

$bp-xxs:  "screen" 20em;
$bp-xs:   "screen" 30em;
$bp-s:    "screen" 35em;
$bp-m:    "screen" 43em;
$bp-l:    "screen" 55em;
$bp-xl:   "screen" 65em;
$bp-xxl:  "screen" 75em;
$bp-xxxl: "screen" 85em;
