.admin-bar {
  @extend .supporting;
  margin-top: 0;
  @include rem(padding-top, ms(-8));
  @include rem(padding-bottom, ms(-8));
  @include clearfix;
  background-color: $color-grey-dark;
  color: $color-grey-light-3;

  p {
    margin: 0;
    padding: 0 2em;
    display: inline-block;
  }

  .admin-logout-link {
    color: $color-grey-light-3;
  }
}
