
ul,
ol {
    @include rem(margin-top, ms(2));
    @include rem(padding-left, ms(4));

    @include breakpoint($bp-s) {
        @include rem(padding-left, ms(6));
    }

    ul,
    ol {
        margin-top: 0;
    }
}

li {
    @include rem(margin-top, ms(2));
}

dl {
    @include rem(margin-top, ms(2));
}

dt {
    font-weight: bold;
    letter-spacing: .02em;

    &:after {
        content: ':';
    }
}

dd {
    @include rem(margin,0, 0, ms(2));
}

.footnotes {
    dd {
        display: inline-block;
    }
}