/* Navigation */

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-top: 0;

        a {
            display: block;
        }
    }
}

.primary-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-top: 0;

        @include breakpoint($bp-l) {
            display: inline-block;

            + li {
                @include rem(margin-left, ms(0));
            }
        }
    }

    a {
        @include rem(padding-top, ms(0));
        @include rem(padding-bottom, ms(0));
        @include rem(border-top-width, ms(-10));
        display: block;
        padding-right: gutter-span();
        padding-left: gutter-span();
        border-top-style: solid;
        border-top-color: $color-primary-light;
        background-color: $color-primary;
        color: $color-white;
        text-decoration: none;
        // font-weight: bold;

        @include breakpoint($bp-l) {
            @include rem(padding, ms(0), ms(1));
            border: 0;
            background-color: transparent;
            color: $color-primary;
            // font-weight: bold;
        }

        &:hover,
        &:focus {
            background-color: $color-black;

            @include breakpoint($bp-s) {
                background-color: transparent;
                color: $color-primary-dark;
                text-decoration: underline;
            }
        }
    }
}

.secondary-nav,
.contact-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;

        @include breakpoint($bp-l) {
            display: inline-block;

            + li {
                @include rem(margin-left, ms(2));
            }
        }
    }

    a {
        @include rem(padding-top, ms(0));
        @include rem(padding-bottom, ms(0));
        @include rem(border-top-width, ms(-13));
        border-top-style: solid;
        border-top-color: $color-grey-light;
        padding-right: gutter-span();
        padding-left: gutter-span();
        display: block;
        text-decoration: none;

        @include breakpoint($bp-l) {
            @include rem(padding, ms(0), ms(1));
            border: none;
        }

        &:hover,
        &:focus {
            @include breakpoint($bp-s) {
            }
        }
    }
}

.pagination-block {
    text-align: center;
}

.pagination {
    margin-top: 0;
    padding: 0;
    list-style: none;

    .page {
        @include rem(padding, ms(-2));
        display: inline-block;
        font-weight: bold;
    }
}

.toc {
    @extend .supporting;

    :first-child {
        margin-top: 0;
    }

    ol ol {
        @include rem(margin-top, ms(-3));
        list-style: lower-alpha;
    }

    li {
        @include rem(margin-top, ms(-3));
    }
}
