&lt;ul class=&quot;contact-nav&quot;&gt;
    &lt;li&gt;&lt;a class=&quot;twitter&quot; href=&quot;https://twitter.com/DetentionLogs/&quot; title=&quot;Detention Logs on Twitter&quot; rel=&quot;me&quot;&gt;@detentionlogs&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;github&quot; href=&quot;https://github.com/DetentionLogs/&quot; title=&quot;Detention Logs on Github&quot; rel=&quot;me&quot;&gt;GitHub&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;email&quot; href=&quot;/about/#contact&quot; title=&quot;Contact Detention Logs.&quot;&gt;Contact/PGP&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;