&lt;nav class=&quot;toc&quot;&gt;
    &lt;h2&gt;Contents&lt;/h2&gt;
    &lt;ol&gt;
        &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.medium }}&lt;/a&gt;
            &lt;ol&gt;
                &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/li&gt;
            &lt;/ol&gt;
        &lt;/li&gt;

        &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;&quot; title=&quot;&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/li&gt;
	&lt;/ol&gt;
&lt;/nav&gt;