{{&gt; organisms-header }}
{{&gt; organisms-sub-navigation(breadcrumbs: true) }}

&lt;div class=&quot;body-container&quot;&gt;
		{{&gt; organisms-incident-show-body }}
&lt;/div&gt;

{{&gt; organisms-footer }}