.incident-show-body {
  // @extend %wide-text-block;
  // @include clearfix;
  // margin-right: auto;
  // margin-left: auto;

  // .incident-detailreport-link {
  //   @include rem(font-size, ms(0));
  //   @include rem(padding, 0, ms(1));

  //   @include breakpoint(27em) {
  //     @include rem(margin, ms(8), 0, 0);
  //     float: right;
  //     clear: right;
  //   }

  //   @include breakpoint(32em) {
  //     @include rem(margin, ms(7), 0, 0);
  //     @include rem(padding, ms(-2), ms(0));
  //     @include rem(font-size, ms(0));
  //   }

  //   @include breakpoint($bp-l) {
  //     @include rem(font-size, ms(1));
  //   }

  //   @include breakpoint($bp-xl) {
  //     @include rem(font-size, ms(2));
  //   }

  //   @include breakpoint($bp-xxl) {
  //     @include rem(margin, ms(11), 0, 0);
  //   }

  //   @include breakpoint($bp-xxxl) {
  //     @include rem(margin, ms(12), 0, 0);
  //   }

  //   & + a {
  //     @include rem(margin-top, ms(-3));
  //     display: block;

  //     @include breakpoint(27em) {
  //       @include rem(margin-bottom, ms(3));
  //       display: inline-block;
  //       margin-top: 0;
  //       float: left;
  //       clear: both;
  //     }
  //   }
  // }

  dl {
    @include clearfix;
    clear: both;
    width: 100%;
  }

  .incident-primary-meta {
    .incident-field-value {
      font-weight: bold;
    }
  }

  .incident-field-value.incident-summary {
    @include breakpoint($bp-xl) {
      @include rem(font-size, ms(2));
    }
  }
}
