// Incident base styles
// Styles that apply to incident reports in all views
//
// .incident-field-label
// .foirequest-status

.incident-field-label {
  @include rem(font-size, ms(0));
  color: $color-grey-dark;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.incident-adopt-link {
  @extend %btn-alt;
}
