.incident-show-body {
  dl {
    @include clearfix;
    clear: both;
    width: 100%;
  }

  .incident-primary-meta {
    .incident-field-value {
      font-weight: bold;
    }
  }

  .incident-field-value.incident-summary {
    @include breakpoint($bp-xl) {
      @include rem(font-size, ms(2));
    }
  }
}
