// Incident Index Results
// The text results of incident queries, and surrounding content.
//
// .incident-index-resutls
// .incident-index-results-description
// .incident-index-permalink
// .incident-index-order-by

.incident-index-results {
  @include clearfix;
}

.incident-index-results-description {
  @extend .lede;
  font-weight: normal;
  margin-top: 0;

  @include breakpoint($bp-xs) {
    @include rem(font-size, ms(3));
  }

  @include breakpoint($bp-m) {
    @include rem(margin-bottom, ms(5));
  }

  @include breakpoint($bp-l) {
    @include rem(margin-bottom, ms(10));
    @include rem(font-size, ms(6));
  }
}

.incident-index-permalink {
  @extend .supporting;
  @include rem(padding, ms(-2), ms(-2), ms(-2), 0);
  float: left;
  clear: left;

  @include breakpoint(43em) {
    @include isolation-span(1, 1, left, $grid: 8);
    @include rem(padding, ms(-2), ms(-2), ms(-2), 0);
    display: block;
  }
}

.incident-index-order-by {
  @extend .supporting;
  @include rem(padding, ms(-2), 0, ms(-2), ms(-2));
  float: right;
  clear: right;

  @include breakpoint(43em) {
    @include rem(padding, ms(-2), 0, ms(-2), 0);
    clear: none;
  }
}
