.incident-field-label {
  @include rem(font-size, ms(0));
  color: $color-grey-dark;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// .incident-field-value {}

.incident-primary-meta {
  .incident-field-value {
    font-weight: bold;
  }
}
