body {
  margin-right: auto;
  margin-left: auto;
  max-width: 115em;
}

%default-page-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: gutter-span();
  padding-left: gutter-span();


  @include breakpoint($bp-s) {
    padding-right: gutter-span();
    padding-left: gutter-span();
  }

  @include breakpoint($bp-m) {
    padding-right: gutter-span();
    padding-left: gutter-span();
  }

  @include breakpoint($bp-xxl) {
    padding-right: gutter-span();
    padding-left: gutter-span();
  }
}

.body-container {
  @extend %default-page-container;
  @include clearfix;
}

%deep-outer-page-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: gutter-span();
  padding-left: gutter-span();


  @include breakpoint($bp-s) {
    padding-right: gutter-span();
    padding-left: gutter-span();
  }

  @include breakpoint($bp-m) {
    padding-right: gutter-span();
    padding-left: gutter-span();
  }

  @include breakpoint($bp-xxl) {
    padding-right: (column-span(1, 1, 11) + gutter-span() + gutter-span());
    padding-left: (column-span(1, 11, 11) + gutter-span() + gutter-span());
  }
}

.deep-body-container {
  @extend %deep-outer-page-container;
  @include clearfix;
}

%inset-page-container {
  @include breakpoint($bp-xxl) {
    padding-right: (column-span(1, 1, 11) + gutter-span());
    padding-left: (column-span(1, 11, 11) + gutter-span());
  }
}

.main-reading {
  @extend %inset-page-container;
}

%default-text-block { // assumed child of %inset-page-container
  @include breakpoint($bp-m) {
    width: column-span(7, 1, 9);
  }

  @include breakpoint($bp-l) {
    width: column-span(6, 1, 9);
  }

  @include breakpoint($bp-xl) {
    width: column-span(5, 2, 9);
  }

  @include breakpoint($bp-xxxl) {
    width: column-span(5, 3, 9);
  }
}

.text-block {
  > * {
    @extend %default-text-block;
  }

  > table,
  > img,
  > video,
  > .figure-table {
    max-width: 100%;
  }
}

%default-headline-block { // assumed child of %inset-page-container
  @include breakpoint($bp-m) {
    width: column-span(8, 1, 9);
  }

  @include breakpoint($bp-l) {
    width: column-span(7, 1, 9);
  }

  @include breakpoint($bp-xl) {
    width: column-span(6, 2, 9);
  }

  @include breakpoint($bp-xxxl) {
    width: column-span(6, 3, 9);
  }
}


.article-header {
  @extend %default-headline-block;
}

%default-secondary-column {
  @include breakpoint($bp-l) {
    float: right;
    width: column-span(3, 7, 9);
  }

  @include breakpoint($bp-xl) {
    width: column-span(4, 6, 9);
  }

  @include breakpoint($bp-xxl) {
    width: column-span(3, 7, 9);
  }

  @include breakpoint($bp-xxxl) {
    width: column-span(3, 7, 9);
  }
}

.secondary {
  @extend %default-secondary-column;

  @include breakpoint($bp-l) {
    float: right;
  }
}

%wide-text-block { // assumed child of %default-page-container
  @include breakpoint($bp-m) {
    width: column-span(8, 1, 11);
  }

  @include breakpoint($bp-l) {
    width: column-span(7, 1, 11);
  }

  @include breakpoint($bp-xl) {
    width: column-span(7, 2, 11);
  }

  @include breakpoint($bp-xxxl) {
    width: column-span(6, 3, 11);
  }
}
