* {
    box-sizing: border-box;
}

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 115em;
}

%default-page-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: gutter-span();
    padding-left: gutter-span();


    @include breakpoint($bp-s) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }

    @include breakpoint($bp-m) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }

    @include breakpoint($bp-xxl) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }
}

.body-container {
    @extend %default-page-container;
    @include clearfix;
}

.site-header,
.sub-nav {
    @extend %default-page-container;
}

.site-footer {
    @include breakpoint($bp-l) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }

    @include breakpoint($bp-xxl) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }
}

%inset-page-container {
    @include breakpoint($bp-xxl) {
        padding-right: (column-span(1, 1, 11) + gutter-span());
        padding-left: (column-span(1, 11, 11) + gutter-span());
    }
}

.main-reading {
    @extend %inset-page-container;
}

%default-text-block { // assumed child of %inset-page-container
    @include breakpoint($bp-m) {
        max-width: column-span(7, 1, 9);
    }

    @include breakpoint($bp-l) {
        max-width: column-span(6, 1, 9);
    }

    @include breakpoint($bp-xl) {
        max-width: column-span(5, 2, 9);
    }

    @include breakpoint($bp-xxxl) {
        max-width: column-span(5, 3, 9);
    }
}

.text-block {
    > * {
        @extend %default-text-block;
    }

    > table,
    > img,
    > video,
    > .figure-table {
        max-width: 100%;
    }
}

%default-secondary-column {
    @include breakpoint($bp-l) {
        max-width: column-span(3, 7, 9);
    }

    @include breakpoint($bp-xl) {
        max-width: column-span(4, 6, 9);
    }

    @include breakpoint($bp-xxl) {
        max-width: column-span(3, 7, 9);
    }

    @include breakpoint($bp-xxxl) {
        max-width: column-span(3, 7, 9);
    }
}

.page-header {
    @include clearfix;
}

%wide-text-block { // assumed child of %default-page-container
    @include breakpoint($bp-m) {
        max-width: column-span(8, 1, 11);
    }

    @include breakpoint($bp-l) {
        max-width: column-span(7, 1, 11);
    }

    @include breakpoint($bp-xl) {
        max-width: column-span(7, 2, 11);
    }

    @include breakpoint($bp-xxxl) {
        max-width: column-span(6, 3, 11);
    }
}
