.box {
  @include rem(margin-top, ms(1));
  @include rem(padding, ms(1));
  @include clearfix;
  @include rem(border-top-width, ms(-3));
  position: relative;
  border-top-style: solid;
  border-top-color: $color-information;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  background-color: $color-grey-light;
}

