.sub-nav {
  @extend %default-page-container;
  @extend %supporting;
  @include rem(margin-top, ms(2));
  @include rem(margin-bottom, 0);
  @include rem(padding-top, ms(-5));
  @include rem(padding-bottom, ms(-5));
  @include clearfix;

  @include breakpoint($bp-m) {
    @include rem(margin-bottom, ms(6));
  }

  @include breakpoint($bp-l) {
    @include rem(font-size, ms(1));
    margin-top: 0;
    border-bottom: 1px $color-grey-light solid;
    background-color: $color-grey-light-2;
  }

  @include breakpoint($bp-xxl) {
    @include rem(margin-bottom, ms(9));
  }

  @include breakpoint($bp-xxxl) {
    @include rem(margin-bottom, ms(11));
  }

  ul {
    display: inline;
  }

  .section-nav {
    display: none;

    @include breakpoint($bp-l) {
      display: inline;
    }
  }

  &.has-breadcrumbs {
    @include breakpoint($bp-m) {
      margin-bottom: 0;
      border-bottom: 1px $color-grey-light solid;
      background-color: $color-grey-light-2;
    }
  }
}


.breadcrumbs {
  display: inline;
  float: left;
  clear: left;

  li {
    display: inline;

    &:after {
      content: " > ";
      color: $color-grey;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    &:last-child {
      display: none;

      @include breakpoint($bp-m) {
        display: inline;
      }

      &:after {
        content: none;
      }
    }
  }
}

.section-nav {
  @include breakpoint($bp-m) {
    float: right;
    text-align: right;
  }

  @include breakpoint($bp-xl) {
    float: right;
    text-align: right;
  }

  li {

    @include breakpoint($bp-m) {
      @include rem(margin-left, ms(4));
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
  }
}
