.sub-nav {
  @extend .supporting;
  @include rem(margin-top, ms(2));
  @include rem(margin-bottom, 0);
  @include rem(padding-top, ms(-5));
  @include rem(padding-bottom, ms(-5));
  @include clearfix;

  @include breakpoint($bp-l) {
    margin-top: 0;
  }

  @include breakpoint($bp-l) {
    @include rem(font-size, ms(1));
    margin-bottom: 0;
    border-bottom: 1px $color-grey-light solid;
    background-color: $color-grey-light-2;
  }

  .section-nav {
    display: none;

    @include breakpoint($bp-l) {
      display: block;
    }
  }

  &.has-breadcrumbs {
    @include breakpoint($bp-m) {
      margin-bottom: 0;
      border-bottom: 1px $color-grey-light solid;
      background-color: $color-grey-light-2;
    }
  }
}


.breadcrumbs {
  display: inline-block;

  li {
    display: inline;

    & + li:before {
      content: " > ";
      color: $color-grey;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}

.section-nav {
  @include breakpoint($bp-m) {
    float: right;
    text-align: right;
  }

  @include breakpoint($bp-xl) {
    float: right;
    text-align: right;
  }

  li {

    @include breakpoint($bp-m) {
      @include rem(margin-left, ms(4));
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
  }
}
