table {
    @include rem( font-size, ms(0));
    @include rem( margin, ms(2), 0, 0);
    padding: 0;
    max-width: 100%;
    text-align: left;
}

thead {
    border-bottom: 1px $color-grey-light solid;
    th {
            vertical-align: bottom;
    }
}

th {
    text-align: left;
    font-weight: bold;
}

th, td {
    @include rem( padding, ms(0), ms(0), ms(0));
    margin: 0;
}

tbody th,
tbody td {
    vertical-align: top;
    border-bottom: 1px #bbb solid;
}

tbody th {
    font-weight: normal;
}

tr th:first-child,
tr td:first-child {
    padding-left: 0;

    @include breakpoint($bp-xs) {
        @include rem(padding-left, ms(0));
    }
}

// :not(.definition-table) tbody tr:hover th,
// :not(.definition-table) tbody tr:hover td {
//     background-color: $color-salient-light-2;
// }

.table-col--totals {
    border-left: 1px $color-grey solid;
}

// .figure-table {
//    overflow: scroll;

//     table {
//         border-bottom: 2px $color-grey dashed;

//         @include breakpoint($bp-s) {
//             border-bottom: 0;
//         }
//     }
// }

.figure-table--small {
    table {
        @include breakpoint($bp-m) {
            @include rem( font-size, ms(1));
        }

        @include breakpoint($bp-xl) {
            @include rem( font-size, ms(2));
        }
    }
}

.table-summary {
    @include breakpoint($bp-s) {
        tbody tr:hover th,
        tbody tr:hover td {
            background-color: $color-grey-light-2;

            .results-link:after {
                margin-left: .5em;
                display: inline-block;
                color: $color-grey;
                content: "(view reports)";
            }
        }
    }
}
