@import "reset";

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', Verdana, sans-serif;
	line-height: 1.625em; /* 26px */
	font-size: 1em; /* 16px */
}

/* @group Font Families */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

.wf-loading .site-header,
.wf-loading .main,
.wf-loading .site-footer {
	visibility: hidden;
}
.wf-active body {
	font-family: 'Open Sans', Verdana, sans-serif;
	text-rendering: optimizeLegibility;
}

/* @end Font Families */

/* @group Elements */
$scale-n2: 0.75rem; /* 12px */
$scale-n1: 0.875rem; /* 14px */
$scale-1: 1.125rem; /* 18px */
$scale-2: 1.25rem; /* 20px */
$scale-3: 1.625rem; /* 26px */
$scale-4: 1.875rem; /* 30px */



h1,h2,h3,h4 {
	margin-top: 16px;
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 1em;
}
h1 {
	font-weight: bold;
	font-size: 32px;
	font-size: 2rem;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.4;
}
h2 {
	font-weight: bold;
	font-size: 20px;
	font-size: 1.25rem;
	padding-top: 32px;
	padding-top: 2rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}
h3 {
	font-weight: bold;
	text-decoration: underline;
	padding-top: 32px;
	padding-top: 2rem;
}
code {
	font-family: monospace;
}
p {
	margin-top: 16px;
	margin-top: 1rem;
}
/* @group exceptions */
	h2 + p {
		margin-top: .25rem;
	}
/* @end exceptions */
a {
	text-decoration: underline;
}
abbr {
	text-decoration: none;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
	border-bottom: 1px #aaa dashed; 
	cursor: help;
}
	.glossary dt abbr {
		border: 0;
	}
strong {
	font-weight: bold;
}
em, cite {
	font-style: italic;
}
ul {
	margin: 1em 0;
	padding: 0 0 0 1.6em;
}
nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	

	}
	li {
		margin-top: 0;
		a {
			display: block;
		}
	}
}
/* @end Elements */

/* @group Colours */

$regular-text : #444;
$primary : #467719;
$fade : #9a9a9a;
$contrast :  #eaeaea;

$note : #F1CB7A;

body {
	color: $regular-text;
	background-color: #FFF

}

.logo {
	color: $primary;
	span {
		color: $regular-text;
	}
}

a {
		color: $primary;
}
a:hover,
a:focus {
	color: darken($primary, 10%);
}

.note {
	border-color: $note;
	background-color: lighten($note, 20%);
	color: #111;
}

.editors-additional {
	background-color: $contrast;
}
.redacted {
	background-color: $contrast;
	color: $regular-text;
}

input {
	background-color: #fff;
}

.mail-list .btn {
	background-color: $primary;
	color: #fff;
	&:hover,
	&:focus {
		background-color: #ccc;
	}
	&:active {
	background-color: $regular-text;
	}
}

input::-webkit-input-placeholder { color: #555;}
input::-moz-placeholder { color: #555;}
input:-moz-placeholder { color: #555;}
input:-ms-input-placeholder { color: #555;}

#email-error {
	background-color: #e7916f;
	border-color:  #e7916f;
}

.share-item {
	a {
		background-color: $fade;
		color: white;
		&:hover,
		&:focus {
			background-color: $regular-text;
		}
		&:active {
		background-color: $fade;
		}
	}
}

.incident dt,
.field-label { color: $fade; }

.incident-summary {
	color: #222;
}

.incident-link {
	background-color: $primary;
	color: #fff;
	&:hover,
	&:focus {
		background-color: $fade;
	}
}
.supporting-heading {
	color: darken($fade, 20%);
}
.incident-filter {
	input[role="button"] {
		background-color: darken($fade, 10%);
		color: #fff;
		&:hover,
		&:focus {
			background-color: $primary;
		}
	}
}

.has-detailed-report {
	a.incident-number {
	color: $note;
	}
	.incident-link {
		background-color: $note;
		color: $regular-text;
	}
}


.distinct-download {
	background-color: lighten($note, 20%);
	border-color: $note;
	color: $regular-text;
	&:hover,
	&:focus {
		border-color: darken($note, 30%);
		background-color: $note;
		color: #222;
	}
	&:active {
		background-color: $regular-text;
		color: $note;	
	}
}

/* @end Colours */
/* @group Typography */

.logo {
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Open Sans', verdana, sans-serif;
	display: inline-block;
	margin: 0;
	a {
		text-decoration: none;
	}
	span {
		line-height: 0;
		font-size: $scale-n1;	
	}
}
.lede,
.loud,
.distinct {
	font-size: 18px;
	font-size: 1.125rem; /* 18px */
}
.supporting-heading {
	font-size: $scale-1;
	margin: 0;
}
.supporting {
	line-height: 1.4em;
}
/* exception */
	.incident-body {
		line-height: $scale-2;
	}
/* end exeption */
.supporting,
.discrete {
	font-size: 14px;
	font-size: .875rem; /* 14px */	
}
.discrete {
	li {
		margin-bottom: 1em;
	}
}
.query-results-description {
	padding-top: 0;
	text-decoration: none;
	font-weight: normal;
	.start-date,
	.end-date {
		display: inline-block;
	}
	
}
.redacted {
    text-transform: uppercase;
	display: inline-block;
	padding: 0 8px;
	padding: 0 .5rem;
	border-bottom: none;
	letter-spacing: 0.1875rem;
	font-size: .875em;
}
.distinct-download {
	padding: .25rem .5rem;
	border-width:  1px;
	border-width:  .07rem;
	border-radius: .25rem;
	border-style: solid;
	text-decoration: none;
	margin-bottom: 1rem;
	display: inline-block;
}
.glossary {
	dt {
		font-weight: bold;
		letter-spacing: 1px;
		letter-spacing: .07rem;
		padding-top: 32px;
		padding-top: 2rem;
		&:hover:after {
  		    color: lighten($fade, 15%);
		    content: "#" attr(id);
		    display: inline-block;
		    font-size: 12px;
		    font-size: .75rem;
		    line-height: 1;
		    padding-left: .75rem;
		    text-transform: none;
		    vertical-align: middle;
		} /* Thanks to alistapart */
		abbr {
			cursor: default;
		}
	}
	dd {
		margin: 0 0 1rem;
		p {
			margin-top: 0;	
		}
	}
}
.docs-icon.distinct-download {
	padding-left: 1.75rem;
	background-position-x: .25rem;
	width: auto;
}
.editors-additional {
	h2 {
		text-align: center;
		margin-bottom: 1rem;		
	}
	h3 {
		font-weight: bold;
		font-size: 20px;
		font-size: 1.25rem;
		text-decoration: none;
		padding-top: 32px;
		padding-top: 2rem;
		margin-bottom: 16px;
		margin-bottom: 1rem;
	} /* h2 styles */
}
/* @end Typography */
/* @group Page structure */
.holding {
	text-align: center;
	padding: 0 1em;
	max-width: 27em;
	.site-footer {
		border: 0;
		ul.contact {
			list-style: none;
			padding: 0;
			li {
				margin-top: 1em;
				display: block;
			}
		}
	}
}

.site-header,
.main,
.site-footer {
	padding-left: 5%;
	padding-right: 5%;
}

.site-header {
	padding-top: $scale-4;
	padding-bottom: $scale-4;
}

.site-footer {
	border-top: 1px $contrast solid ;
	margin-top: 48px;
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}


.box {
	padding: 24px 5% 8px;
	padding: 1.5rem 5% .5rem;
	border-top-width: 2px;
	border-top-width: 0.125rem;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-width: 0.125rem;
	border-bottom-style: solid;
	margin: 1.5rem 0;
	color: #000;
	:first-child {
		padding-top: 0;
		margin-top: 0;
	}
	&.editors-additional {
	border: none;
	} /* exception */
}

.share-list {
	list-style: none;
	margin: 0 0 0;
	padding: 0;
}
	.share-item {
		display: inline-block;
		text-align: left;
		width: 32%;
		min-width: 6rem;
		margin-top: 1em;
		.share-item + .share-item {
			margin-left: 1%;
		}
		a {
			display: block;
			text-decoration: none;
			padding: .875rem 1.2rem .875rem .5rem;
			font-size: 1rem;
			width: 100%;
		}
	}



/* @group Incidents */

.incident {
	clear: both;
	float: none;
	padding-top: 2rem;
	h1 {
		margin-top: 0;
		font-size: 1.5rem;
	}
	.help {
		display: block;
	}
	dl {
		margin-top: 1em;
		margin-bottom: 0;
	}
	dt {
		text-transform: uppercase;
		font-size: 12px;
		font-size: $scale-n2;
		font-weight: bold;
		&:after {
			content: " :";
		}
	}
	dd {
		margin: 0 0 $scale-1;
	}
	.incident-primary {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px $contrast solid;
		border-bottom: .07rem $contrast solid;
		dt {
			line-height: 1;
		}
	}
	.related-signpost {
		float: right;
		clear: right;
		width: auto;
		padding: .2rem .4rem .2rem .2rem;
		border: .07rem solid $contrast;
		dt	{
			text-indent: -999em;
			display: inline-block;
			margin-bottom: 0;
		}
		dd {
			display: inline-block;
			margin-bottom: 0;		
		}
		dd + dt {
			margin-left: .25rem;
		}
		+ a {
			clear: both;
			float: none;
			display: block;
		}
	}
	.incident-location {
		.add-details {
			/* visibility: collapse; */
			font-weight: normal;
		}
		.collapsible-heading-toggle {
			text-decoration: underline;
			visibility: visible;
			display: block;
			padding-left: 0;
		}
	}

	.box {
		margin-top: 0;
		margin-bottom: 0;
	}
	.editors-additional {
		margin-top: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		dt {
			font-weight: normal;
			text-transform: none;
			letter-spacing: 0.0625rem;
			color: $regular-text;
		}
		dd {
			padding-left: 1rem;
		}
		:first-child {
		padding-top: 0;
		margin-top: 0;
	}

	}
}
	.incident-primary-meta {
		font-weight: bold;
		a {
			text-decoration: underline;
			font-weight: normal;
		}
	}
	.incident-summary {
		dt, dd {
			width: auto;
		}
	}
	.incident-additional {
		overflow: hidden;
		dt {			
			float: left;
			clear: left;
			padding-right: 1rem;
		}	
	}

/* @end Incidents */

/* @group Incidents List */

.field-label {
		text-transform: uppercase;
		font-size: 12px;
		font-size: $scale-n2;
		font-weight: bold;
		float: left;
		clear: left;
		padding-right: .25rem;
		&:after {
			content: ":";
		}
}
.header-row {
	display: none;
}
.incident-list {
	list-style: none;
	padding: 0;
	margin: 0;
	p {
		margin: 0;
	}
}
.incident-item {
	clear: both;
	border-top: 1px $contrast solid;
	padding: .5rem 0 1rem;
	.incident-occured-on,
	.incident-type,
	.incident-location {
		display: block;
		font-weight: bold;
		padding-bottom: .5rem;
	}
	.incident-body {
		padding-bottom: .5rem;
	}
	.incident-location-details {
		padding-bottom: .5rem;
	}
	.incident-link {
		display: inline-block;
		float: right;
		padding: .25rem .5rem;
	}
}
.page-link {
		dt {
			color: $fade;	
			display: inline-block;
			font-size: $scale-n2;
			&:after {
				content: ":";
			}
		}
		dd {
			display: inline-block;
			margin:0 0 0 4px;
			margin:0 0 0 .25rem;
		}
		input {
			border: 1px $fade solid;
			padding: .25rem;
		}
}


/* @end Incidents list */


/* @end Page Structure */


/* @group Navigation */
.main-nav {
	float: right;
	clear: right;
}
.menu-btn {
	display: block;
}
header .primary-nav {
	display: none;
}

.sideways-nav {
	padding-top: $scale-1;
	li {
		margin: 0 0 $scale-n2;
		a {	
			padding: .5rem 0;
		}
	}
}

/*
.main-nav ul {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
	li {
		display: inline-block;
	}
	li + li {
		padding-left: 1rem;
	}	
}
*/
.footer-nav {
	margin-bottom: 2rem;
	.primary-nav {
		margin-bottom: 2rem;
		a {
			font-weight: bold;
			text-decoration: none;
			font-size: 1.125rem;
			padding: .5rem 0;
			margin-bottom: .25rem;
			transition: padding-left .3s ease, background-color .3s ease;
			&:hover,
			&:focus {
				background: $contrast;
				padding-left: .5rem;
			}
			&:active {
				background: $primary;
				color: white;
				padding-left: .5rem;				
			}
		}
	}
	ul + ul {
			margin-bottom: .25rem;
	}
	.supporting li {
		margin-top: .25rem;
		padding: .25rem 0;
	}
}
.footer-contact {
	list-style: none;
	padding: 0;
	margin: 0;
	a {
		display: block;
		margin-top: .25rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-bottom: .25rem;
		text-decoration: none;
	}
}

/* @end Navigation */


/* @group Icons */

.contact {
	.email {
		background-image: url(email-small.png);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		text-decoration: none;
	}
	.twitter {
		background-image: url(twitter-small.png);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		text-decoration: none;
	}
	.phone.google-voice {
		background-image: url(google-voice.png) no-repeat left center;
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		text-decoration: none;
	}
	.github {
		background-image: url(github-small.png);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		text-decoration: none;
	}
	
}
.docs-icon {
	background-image: url(doc-small.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.125rem;
	width: 0;
}
.investigations-icon {
	background-image: url(investigation-small.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.125rem;
	width: 0;
}
.link-icon {
	background-image: url(link-small.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.25rem;
	width: 0;	
}
/* @end Icons */

/* @group Table */

table {
	font-size: 14px;
	font-size: 0.875rem;
	text-align: left;
	padding: 0;
	margin: 48px 0;
	margin: 4rem 0;
	max-width: 90rem;
}
caption {
	font-size: 18px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	padding-bottom: 1rem;
}
.date {
}
.total {
	border-left: 1px #aaa solid;
}
thead {
	vertical-align: bottom;
	border-bottom: 1px #eee solid;
}
th, td {
	padding: 0.5rem .5rem 0.75rem;
	margin: 0;
}
tbody th,
tbody td {
	vertical-align: top;
	border-bottom: 1px #bbb solid;
}
tbody th {
	font-weight: bold;
	letter-spacing: 1px;
	width: 9em;
	background-color: #eee;
	white-space: nowrap;
}
tbody td {
	width: 10em;
}
tbody tr:hover th,
tbody tr:hover td {
	background-color: lighten($note, 24%) ;
}

/* @end Table */


/* @group Forms */
	
.mail-list,
.mail-list input {
	display: block;
	text-align: center;
}
.mail-list legend {
	font-weight: bold;
	margin: 0 auto 14px;
	margin: 0 auto 1rem;
	display: block;
	label {
		cursor: pointer;
		text-align: center;
	}
}
input {
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0.07rem 0.07rem 0.1875rem rgba(0,0,0,0.1);
	:focus {
		border: .0625rem #aaa solid;		
	}
}

.mail-list input,
.mail-list .btn {
	border: 1px #ccc solid;
	border: .0625rem #ccc solid;
	width: 100%;
	font-size: 1.125rem;
	line-height: 1.4rem;
	padding: 12px 18px;
	padding: .75rem 1.125rem;
	margin-bottom: 8px;
	margin-bottom: 0.5rem;
	margin-top: 0;
}
.btn {
	display: block;
	cursor: pointer;
	letter-spacing: .07em;
	input {
	    left: -1000em;
	    position: absolute;
	    width: 0;
	}
}
.holding .mail-list small {
	display: block;
	clear: both;
}
.verification-msg {
	clear: both;
	padding: .5rem 1.5rem .5rem;
	border-width: 2px;
	border-width: 0.125rem;
	border-style: solid;
}

.incident-filter {
	float: none;
	clear: both;
	overflow: hidden;
	border: 1px $fade solid;
	padding-bottom: 8px;
	padding: .5rem;
	margin: 0 -.5rem;
	label,
	input,
	select {
		display: block;
	}
	label {
		font-size: 14px;
		font-size: $scale-n1;		
		margin-top: 12px;
		margin-top: .75rem;
		font-weight: bold;
	}
	select {
/*
		font-size: 18px;
 		font-size: $scale-1;
 
*/		max-width: 100%;
	}
	fieldset {
		float: none;
		clear: both;
	}
	.start-date,
	.end-date {
		label {
			clear: both;
			float: none;
		}
		select {
			float: left;
			display: block;
			margin-right: 4px;
			margin-right: .25rem;
		}
	}
	.has-detail-report {
		margin-top: 4px;
		margin-top: .25rem;
		float: none;
		clear: both;
		input, label {
			display: inline-block;
		}
		input {
			width: 1em;
		}
	}
	input[role="button"] {
		margin-top: 12px;
		margin-top: .75rem;
		border: 0;
		font-weight: bold;
		text-transform: uppercase;
		font-size: $scale-1;
		width: 100%;
		padding: .5rem .75rem;
		clear: both;
		float: none;
	}
}

.page-link input {
	
}

/* @end Forms */

/* @group Tools */

.no-js {
	.add-details {
		display: none;
	}
}
.add-details {
	font-size: $scale-n2;
}
.collapsible-heading {
	padding-left:1rem;
	cursor: pointer;
/*
	&::before {
	content: "– ";
	vertical-align: top !important;
	}
*/

}
.collapsible-heading-collapsed {
/*
		&::before {
			content: "+ ";
	}
	*/
}
.collapsible-heading-toggle {
	color:#333;
}
.collapsible-heading-status {
/*
	position:absolute;
	left:-99999em;
*/
}
.collapsible-content-collapsed {
	display:none;
}




/* @end Tools */
@media all and (max-width: 30em) {
	abbr {
		border-bottom: none;
	}
}
@media all and (min-width: 30em) {

/* @group Page structure */

/* @group Incidents */
.incident {
	.incident-location {
		.collapsible-heading-toggle {
			display: inline-block;
		}
	}
}

.page-link {
		dt { 
			display: inline-block;
		}
		dd {
			display: inline-block;
			margin-left: 4px;
			margin-left: .25rem;
		}
}


/* @end Incidents */

/* @end Page structure */

/* @group Navigation */
.sideways-nav {
	padding-top: 20px;
	padding-top: $scale-1;
	overflow: hidden;
	li {
		margin: 0;
		padding: 0;
	}
	.previous {
		float: left;
	}
	.next {
		float: right;
	}
}
/* @end Navigation */

/* @start Forms */
	.incident-filter {
		fieldset {
			float: left;
			clear: none;
			width: 50%;
			select {
				max-width: 95%;
			}
		}
		.start-date,
		.end-date {
			select {
	/*
			font-size: 12px;
				font-size: $scale-n2;
*/
			}
		}
		.has-detail-report {
			float: none;
			clear: both;
		}
		input[role="button"] {
			float: none;
			clear: both;
			width: auto;
			padding: .25rem .5rem;
		}
	}
/* @end Forms */

}

@media all and (min-width: 40em) {

/* @group Elements */

nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	

	}
	li {
		display: inline-block;
		margin-top: 0;
	}
	li + li {
			margin-left: 48px;
			margin-left: 3rem;
	}
}

/* @end Elements */

/* @group Colours */
.editors-additional {
	background: #fff;
	border-color: darken($contrast, 20%);
}
.header-row {
	background: $note;
}
.incident-link {
	color: $primary;
	background-color: transparent;
	&:hover,
	&:focus {
		color: #fff;	
	}
}
.has-detailed-report {
	a.incident-number {
		color: darken($note, 25%);
	}
	.incident-link {
		color: darken($note, 25%);
		background-color: transparent;
		&:hover,
		&:focus {
			color: #fff;	
		}	
	}
}

/* @End */

/* @group Typography */
body {
		font-size: 18px;
		font-size: 1.125rem; /* 18px */
		line-height: 1.625rem; /* 26px */
	}
.site-intro .logo {
	font-size: 48px;
	font-size: 3rem;
	margin-bottom: 3rem;
	display: block;
}
.site-intro .loud {
	font-size: 30px;
	font-size: 1.4rem;
	line-height: 1.5;
}
.lede,
.distinct {
	font-size: $scale-2;
	line-height: 1.5;
}
.loud {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.3;
}
.discrete {
	line-height: 1.625em;
}
.supporting {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.4em;
}
/* exceptions */
	.incident-list .supporting,
	.incident-list .discrete {
/* 		line-height: $scale-3; */
	}
/* end exception */

/* @end Typography */

/* @group Page Structure */

.holding {
	max-width: 36rem;
	padding-left: 0;
	padding-right: 0;
	.site-intro p {
		text-align: left;
		margin-bottom: 3rem;
	}
	.site-footer {
		ul.contact {
			li {
				display: inline-block;
				+ li {
					margin-left: 2em;
				}
			}
		}
	}
}
.site-header,
.main,
.site-footer {
	max-width: 38rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}
.reading {
	max-width: 38rem;
}
.box {
	padding: 24px 24px 8px;
	padding: 1.5rem 1.5rem .5rem;
}
.box.verification-msg {
	padding: 24px 24px 8px;	
	padding: .5rem 1.5rem .5rem;
}
/* @group header */



/* @group header */

/* @group Incidents */
.incident {
	max-width: 42rem;
	margin: 0 auto;
	h1 {
		display: inline-block;
	}
	.detail-report-link {
		display: inline-block;
		float: right;
	}
	.editors-additional,
	.box {
		clear: both;
	}
	.box {
		border-left-width: 2px;
		border-left-width: 0.125rem;
		border-left-style: solid;
		border-right-width: 2px;
		border-right-width: 0.125rem;
		border-right-style: solid;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.incident-primary-meta {
		font-weight: normal;
	}
}
.incident-additional {
	dt {			
		float: left;
		clear: none;
		padding-right: .25rem;
/* 		display: inline-block; */
	}
	dd {
		float: left;
/* 		display: inline-block; */
		padding-right: 1.4rem;
	}
	dt.incident-location-details {
		float: left;
		clear: left;
	}
	dd.incident-location-details {
		float: left;
		clear: right;
		padding-bottom: $scale-4;
	}
}
.editors-additional {
	box-shadow: inset 0 8px 8px -5px $contrast;
	box-shadow: inset 0 .5rem .5rem -.25rem $contrast,0 .8rem .8rem -.25rem lighten($contrast, 10%);
	border-top-width: .07rem;
	border-top-style: solid;
}

/* @end Incidents */
/* @group Incidents List */

.incident-explorer {
	.incident-item {
		padding-bottom: 1.5rem;
		clear: both;
		float: none;
		&:before,
		&:after {
			content: "";
			display: table;			
		}
		&:after {
			clear: both;
		}
	}
	.incident-primary {
		width: 45%;
		float: left;
		clear: left;
		padding-right: 1.5rem;
	}
	.incident-occured-on,
	.incident-type,
	.incident-location {			
	}
	.incident-body {
		float: right;
		clear: right;
		width: 55%;
	}
/*
	.incident-summary-label {
		float: right;
		width: 50%%;
		clear: right;
	}
*/
	
	.incident-secondary {
		float: right;
		clear: right;
		width: 55%;
		padding: 0;
	}
	.incident-location-details {
	}
	.incident-link {
		font-weight: bold;
	}	
}
.page-link {
	dl {
		dd {
			margin: 0;
		}
	}
}


/* @end Incidents list */

/* @end Page Structure */

/* @group Navigation */
.menu-btn {
	display: none;
}
header .primary-nav {
	display: block;
}

.footer-nav {
	.primary-nav {
		margin-bottom: 0rem;
		a {
			font-weight: bold;
			text-decoration: none;
			font-size: 1.125rem;
			padding: .5rem 0;
			margin-bottom: .25rem;
			transition: padding-left .3s ease, background-color .3s ease;
			&:hover,
			&:focus {
				background: none;
				padding-left: 0;
			}
			&:active {
				color: $regular-text;
				padding-left: 0;
			}
		}
	}
	ul + ul {
		margin-top: .5rem;
	}
}
.footer-contact {
	li {
		display: inline-block;
		+ li {
			margin-left: 1rem;
		}
	}
	+ .footer-contact {
	    margin-top: 0.25rem;
	}
	a {
		margin-top: 0;
	}	
}


/* @end Navigation */

/* @group Forms */

.mail-list {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	input {
		text-align: left;
		margin-bottom: 1rem;
		&[type="email"] {
			max-width: 28rem;
			padding: 1rem 0 1rem 1.5rem;
			border-right: 0;
			display:block;
			clear: left;
			border-radius: 4px 0px 0px 4px;
			border-radius: .25rem 0px 0px .25rem;
		}
	}
legend {
		margin: 0 0 14px;
		margin: 0 0 1rem;
	}
}
.mail-list .btn {
	max-width: 8rem;
	display: block;
	clear: right;
	padding: 1rem;
	border-radius: 4px 0 0 4px;
	border-radius: 0 .25rem .25rem 0;
}
.mail-list input,
.mail-list .btn {
	margin-left: 0;
	margin-right: 0;
	float: left;
}


/* @end Forms */
}

@media all and (min-width: 50em) {
/* @group Page Structure */

.site-intro {
	padding-top: 3rem;
}
.site-header,
.main,
.site-footer {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

/* @group Incidents list */

.incident-explorer .field-label {
	display: none;
}
.header-row {
	display: block;
	padding: .5rem 1rem .5rem;
	margin: 0 -1rem;
	clear: both;
	float: none;
	overflow: hidden;
	> * {
		display: inline-block;
		padding: 0 1rem 0 0;
		vertical-align: bottom;
	}
	.incident-occured-on {
		padding-top: 1rem;
	}
	.incident-type {}
	.incident-location {}
	.incident-summary {}
	.incident-secondary {
	}
	.incident-location-details {
		padding-top: 1rem;
	}
	.incident-number {
		font-weight: normal !important;
		padding-left: 2rem;
	}
}
.incident-item {
	clear: both;
	float: none;
	overflow: hidden;
	vertical-align: top;
	transition: all .3s ease;
	&:hover,
	&:focus {
		border-top: 1px darken($contrast, 10%) solid;
		color: #111;
	}
	> * {
		display: inline-block;
		padding: 0 1rem 0 0;
		vertical-align: top;
		float: none;
	}
}
.incident-explorer {
	.incident-primary {
		width: auto;
		float: none;
		clear: none;
		padding: 0;
		margin: 0;
		font-weight: normal;
	> section,
	> time {
		display: inline-block;
		padding: 0 1rem 0 0;
		vertical-align: top;
		float: none;
		font-weight: normal;
	}
	}
	.incident-occured-on {
		width: 9rem;
	}
	.incident-type {
		width: 8rem;
	}
	.incident-location {
		width: 8rem;
	}
	.incident-body {
		width: 30%;
		float: none;
		clear: none;
		padding: 0;
		margin: 0;
	}
	.incident-summary {
	/* 	margin-top: -.14rem;  *//* corrention of line height */
	}
		p {
			margin: 0;
		}
	.incident-secondary {
		float: right;
		clear: right;
		width: 5rem;
		padding: 0;
	}
		.incident-location-details {
			float: left;
			clear: left;
			width: 5rem;
			display: none;
		}
		.incident-number {
			text-align: right;
			width: 5rem;
			float: right;
			clear: right;
			text-decoration: none;
			font-weight: bold;
		}
		.incident-link {
			font-weight: 400;
			padding-right: 0;
			text-decoration: underline;
			i {
				display: none;
			}
			&:focus,
			&:hover {
				background-color: transparent;
				color: darken($primary, 10%);
			}
		}
}
/* @end Incidents list */
/* @end Page Structure */

/* @group Forms */

.incident-filter {
	padding: 1rem;
	margin: 0 -1rem;
	fieldset {
		width: 40%;
	}
	.start-date {
		clear: left;
	}
	.start-date,
	.end-date {
		select {
/* 			font-size: $scale-1; */
		}
	}
}


/* @end Forms */

}
@media all and (min-width: 55em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 35%;
		}
	}
/* @end Incidents list */
/* @end Page Structure */

/* @group Forms */

.incident-filter {
	fieldset {
		float: left;
		clear: none;
		width: auto;
		padding-right: 8px;
		padding-right: .5rem;
	}
	.type,
	.location {
		width: 20%;
	}
	.start-date {
		clear: none;
	}
	.has-detail-report {
		float: none;
		clear: both;
	}
	input[role="button"] {
		float: none;
		clear: both;
	}
}


/* @end Forms */

}
@media all and (min-width: 58em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 40%;
		}
	}
/* @end Incidents list */
/* @end Page Structure */

/* @group Forms */

.incident-filter {
	fieldset {
		padding-bottom: 20px;
		padding-bottom: 1.25rem;
	}
	.has-detail-report {
		margin-left: 0;
		padding-top: 26px;
		padding-top: 1.6rem;
		float: left;
		clear: none;
	}
	input[role="button"] {
		margin-top: 32px;
		margin-top: 2rem;
		float: right;
		clear: right;
	}
}


/* @end Forms */

}
@media all and (min-width: 62em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 30%;
			padding-right: 1rem;
		}
		.incident-secondary {
			float: right;
			clear: right;
			width: 12rem;
			padding: 0;
		}
			.incident-location-details {
				float: left;
				clear: left;
				width: 7rem;
				display: inline-block;
			}
			.incident-number {
				text-align: right;
				width: 5rem;
				float: right;
				clear: right;
			}
	}
/* @end Incidents list */
/* @end Page Structure */


}
@media all and (min-width: 64em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 33%;
		}
	}
/* @end Incidents list */
/* @end Page Structure */

/* @group Forms */

.incident-filter {
	fieldset {
		padding-right: 16px;
		padding-right: 1rem;
	}
	.has-detail-report {
		margin-left: 16px;
		margin-left: 1rem;
	}
}


/* @end Forms */

}
@media all and (min-width: 67em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 35%;
		}
	}
/* @end Incidents list */
/* @end Page Structure */

}
@media all and (min-width: 73em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {
			width: 40%;
			padding-right: 1rem;
		}
		.incident-secondary {
			float: right;
			clear: right;
			width: 15rem;
			padding: 0;
		}
			.incident-location-details {
				float: left;
				clear: left;
				width: 10rem;
			}
			.incident-number {
				text-align: right;
				width: 5rem;
				float: right;
				clear: right;
			}
	}
/* @end Incidents list */
/* @end Page Structure */
}
@media all and (min-width: 76em) {
/* @group Page Structure */
/* @group Incidents list */
	.incident-explorer {
		.incident-body {

		}
	}
/* @end Incidents list */
/* @end Page Structure */

}

@media all and (min-width: 80em) {

/* @group Page Structure */
	.site-intro {
		padding-top: 3rem;
	}
	.site-header,
	.main,
	.site-footer {
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.reading > * {
	max-width: 38rem;
	}
	.incident {
		.box {
			margin-right: -2rem;
			margin-left: -2rem;
		}
	}
/* @group Incidents list */

	.incident-explorer {
		.incident-summary {
			width: 29rem;
		}
	}

/* @end Incidents list */	
	
/* @end Page Structure */

/* @group Navigation */

.footer-nav {
		float: left;
		clear: left;
}
.footer-contact {
	text-align: right;
	float: right;
	clear: right;
	a {
		margin-top: .25rem;
	}
}
#copyright {
	clear: both;
}

/* @end Navigation */

}