@import "reset";


body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', Verdana, sans-serif;
	line-height: 1.6em;
	font-size: 1.125em; /* 18px */
}

/* @group Elements */
h1,h2,h3,h4 {
	margin-top: 16px;
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	font-size: 1rem;
}
h1 {
	font-weight: bold;
	font-size: 32px;
	font-size: 2rem;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.4;
}
h2 {
	font-weight: bold;
	font-size: 24px;
	font-size: 1.5rem;
	padding-top: 32px;
	padding-top: 2rem;
}
code {
	font-family: monospace;
}
p {
	margin-top: 16px;
	margin-top: 1rem;
}
a {
	text-decoration: underline;
}
abbr {
	text-decoration: none;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
	border-bottom: 1px #aaa dashed;
	cursor: help;
}
ul {
	margin: 1em 0;
	padding: 0 0 0 1.6em;
}
/* @end Elements */

/* @group Colours */

$regular-text : #444;
$green : #467719;
$grey : #c0c0c0;
$fine-graphite :  #eaeaea;

$note : #F1CB7A;

body {
	color: $regular-text;
	background-color: #FFF

}

.logo {
	color: $green;
}

a {
		color: $green;
}
a:hover,
a:focus {
	color: darken($green, 10%);
}

.note {
	border-color: $note;
	background-color: lighten($note, 20%);
	color: #111;
}

.redacted {
	background-color: $regular-text;
	color: $grey;
}

input {
	background-color: #fff;
}

.mail-list .btn {
	background-color: $green;
	color: #fff;
	&:hover,
	&:focus {
		background-color: transparentize( $green, .8);
		color: $regular-text;
	}
	&:active {
	background-color: $regular-text;
	}
}

.share-item {
	a {
		background-color: $grey;
		color: white;
		&:hover,
		&:focus {
			background-color: $regular-text;
		}
		&:active {
		background-color: $grey;
		}
	}
}

.incident {
	dt {
		color: darken($grey, 15%) ;
	}
}

/* @end Colours */


/* @group Page structure */
.holding {
	text-align: center;
	padding: 0 1em;
}

.main {
	padding: 0 16px;
	padding: 0 1rem;
}

.box {
	padding: 24px 24px 8px;
	padding: 1.5rem 1.5rem .5rem;
	border-top-width: 2px;
	border-top-width: 0.125rem;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-width: 0.125rem;
	border-bottom-style: solid;
	margin: 1.5rem 0;
	color: #000;
	:first-child {
		padding-top: 0;
		margin-top: 0;
	}
}

.share-list {
	list-style: none;
	margin: 0 0 0;
	padding: 0;
}
	.share-item {
		display: inline-block;
		text-align: left;
		width: 32%;
		min-width: 6rem;
		margin-top: 1em;
		.share-item + .share-item {
			margin-left: 1%;
		}
		a {
			display: block;
			text-decoration: none;
			padding: .875rem 1.2rem .875rem .5rem;
			font-size: 1rem;
			width: 100%;
		}
	}



/* @group Incidents */

.incident {
	h1 {
		height: 0;
		text-indent: -999em;
	}
	dl {
		margin-top: 1em;
		margin-bottom: 0;
	}
	dt {
		text-transform: uppercase;
		font-size: 12px;
		font-size: 0.75rem;
		font-weight: bold;
		&:after {
			content: " :";
		}
	}
	dd {
		margin: 0 0 .5rem;
	}
}
	.incident-primary-meta {
		a {
			text-decoration: none;
		}
	}
	.incident-primary {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px #eaeaea solid;
	}
	.incident-summary {
	}
	.incident-number,
	.incident-level {
		width: 50%;
		display: block;
	}
	.incident-number {
		float: left;
		clear: left;
	}
	.incident-level {
		float: right;
		clear: right;
	}
	dt.incident-location-details {
		clear: both;
		padding-top: 1rem;
	}


/* @end Incidents */

/* @end Page Structure */


/* @group Typography */

.logo {
}
.loud,
.distinct {
	font-size: 18px;
	font-size: 1.125rem; /* 18px */
}
.discrete {
	font-size: 14px;
	font-size: .875rem; /* 12px */	
}
.supporting {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.4em;
}
.redacted {
	display: inline-block;
	padding: 0 8px;
	padding: 0 .5rem;
	border-bottom: none;
	letter-spacing: 0.1875rem;
	font-size: 16px;
	font-size: 1rem;
}

/* @end Typography */

/* @group Navigation */

.main-navigation ul {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
	li {
		display: inline-block;
	}
	li + li {
		padding-left: 1rem;
	}	
}

.site-footer {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	
		li {
		margin-top: 16px;
		margin-top: 1rem;
		}
	}
}

/* @end Navigation */


/* @group Icons */

.contact {
	.email {
		background: url(email-small.png) no-repeat left .2rem;
		background-size: 21%;
		padding-left: 2.1rem;
		text-decoration: none;
		.no-backgroundSize & {
			background: none;
			text-decoration: underline;
			padding-left: none;
		}
	}
	.twitter {
		background: url(twitter-small.png) no-repeat left bottom;
		background-size: 13%;
		padding-left: 2.2rem;
		text-decoration: none;
		.no-backgroundSize & {
			background: none;
			text-decoration: underline;
			padding-left: none;
		}
	}
}
/* @end Icons */

/* @group Table */

table {
	font-size: 14px;
	font-size: 0.875rem;
	text-align: left;
	padding: 0;
	margin: 48px 0;
	margin: 4rem 0;
	max-width: 90rem;
}
caption {
	font-size: 18px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	padding-bottom: 1rem;
}
.date {
}
.total {
	border-left: 1px #aaa solid;
}
thead {
	vertical-align: bottom;
	border-bottom: 1px #eee solid;
}
th, td {
	padding: 0.5rem .5rem 0.75rem;
	margin: 0;
}
tbody th,
tbody td {
	vertical-align: top;
	border-bottom: 1px #bbb solid;
}
tbody th {
	font-weight: bold;
	letter-spacing: 1px;
	width: 9em;
	background-color: #eee;
	white-space: nowrap;
}
tbody td {
	width: 10em;
}
tbody tr:hover th,
tbody tr:hover td {
	background-color: lighten($note, 24%) ;
}

/* @end Table */

/* @group Forms */
	
form, input {
	display: block;
	text-align: center;
}
legend {
	font-weight: bold;
	margin-bottom: 14px;
	margin: 0 auto 14px;
	margin: 0 auto .875rem;
	label {
		display: block;
		cursor: pointer;
	}
}
input {
	border: 1px #ccc solid;
	border: .0625rem #ccc solid;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0.07rem 0.07rem 0.1875rem rgba(0,0,0,0.1);
	:focus {
		border: .0625rem #aaa solid;		
	}
}

input, .btn {
	width: 100%;
	font-size: 1.125rem;
	padding: 12px 18px;
	padding: .75rem 1.125rem;
	margin-bottom: 4px;
	margin-bottom: 0.25rem;
}
.btn {
	display: block;
	cursor: pointer;
	letter-spacing: .07em;
	input {
	    left: -1000em;
	    position: absolute;
	    width: 0;
	}
}


/* @end Forms */

/* @group Layout */

.read {
	max-width: 40em;
}
.site-footer {
	margin-top: 32px;
	margin-top: 2rem;
	padding-bottom: 0 0 32px;
	padding: 0 0 2rem;
}

/* @end Layout */

@media all and (min-width: 40em) {
/* @group Typography */
.holding {
	max-width: 43rem;
}

.site-intro .logo {
	font-size: 48px;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.loud {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.3;
}

/* @end Typography */

/* @group Navigation */

.site-footer {
	ul {
		li { display: inline-block;}
		li + li {
			margin-left: 48px;
			margin-left: 3rem;
		}
	}
}

/* @end Navigation */

/* @group Forms */

	.mail-list input[type="email"] {
		max-width: 30rem;
		padding: 1rem .5rem;
		letter-spacing: .07rem;
	}
	.btn {
		margin-top: 1rem;
		max-width: 17em;
	}
	.mail-list input,
	.mail-list .btn {
		margin-left: auto;
		margin-right: auto;
	}
	
/* @end Forms */
}

@media all and (min-width: 80em) {
	.site-intro {
		padding-top: 3rem;
	}
}