@import "reset";

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', Verdana, sans-serif;
	line-height: 1.6em;
	font-size: 1em; /* 16px */
}

/* @group Font Families */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

.wf-loading .site-header,
.wf-loading .main,
.wf-loading .site-footer {
	visibility: hidden;
}
.wf-active body {
	font-family: 'Open Sans', Verdana, sans-serif;
	text-rendering: optimizeLegibility;
}

/* @end Font Families */

/* @group Elements */
h1,h2,h3,h4 {
	margin-top: 16px;
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	font-size: 1rem;
}
h1 {
	font-weight: bold;
	font-size: 32px;
	font-size: 2rem;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.4;
}
h2 {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.125rem;
	padding-top: 32px;
	padding-top: 2rem;
}
code {
	font-family: monospace;
}
p {
	margin-top: 16px;
	margin-top: 1rem;
}
/* @group exceptions */
	h2 + p {
		margin-top: .25rem;
	}
/* @end exceptions */
a {
	text-decoration: underline;
}
abbr {
	text-decoration: none;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
	border-bottom: 1px #aaa dashed;
	cursor: help;
}
strong {
	font-weight: bold;
}
em, cite {
	font-style: italic;
}
ul {
	margin: 1em 0;
	padding: 0 0 0 1.6em;
}
/* @end Elements */

/* @group Colours */

$regular-text : #444;
$green : #467719;
$fade : #9a9a9a;
$contrast :  #eaeaea;

$note : #F1CB7A;

body {
	color: $regular-text;
	background-color: #FFF

}

.logo {
	color: $green;
}

a {
		color: $green;
}
a:hover,
a:focus {
	color: darken($green, 10%);
}

.note {
	border-color: $note;
	background-color: lighten($note, 20%);
	color: #111;
}

.related {
	background-color: $contrast;
}
.redacted {
	background-color: $regular-text;
	color: $fade;
}

input {
	background-color: #fff;
}

.mail-list .btn {
	background-color: $green;
	color: #fff;
	&:hover,
	&:focus {
		background-color: #ccc;
	}
	&:active {
	background-color: $regular-text;
	}
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {  
   color: #000;  
}

.share-item {
	a {
		background-color: $fade;
		color: white;
		&:hover,
		&:focus {
			background-color: $regular-text;
		}
		&:active {
		background-color: $fade;
		}
	}
}

.incident {
	dt {
		color: $fade;
	}
}
.incident-summary {
	color: #222;
}


/* @end Colours */


/* @group Page structure */
.holding {
	text-align: center;
	padding: 0 1em;
	max-width: 27em;
}

.site-header,
.main,
.site-footer {
	padding-left: 5%;
	padding-right: 5%;
}

.box {
	padding: 24px 5% 8px;
	padding: 1.5rem 5% .5rem;
	border-top-width: 2px;
	border-top-width: 0.125rem;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-width: 0.125rem;
	border-bottom-style: solid;
	margin: 1.5rem 0;
	color: #000;
	:first-child {
		padding-top: 0;
		margin-top: 0;
	}
}

.share-list {
	list-style: none;
	margin: 0 0 0;
	padding: 0;
}
	.share-item {
		display: inline-block;
		text-align: left;
		width: 32%;
		min-width: 6rem;
		margin-top: 1em;
		.share-item + .share-item {
			margin-left: 1%;
		}
		a {
			display: block;
			text-decoration: none;
			padding: .875rem 1.2rem .875rem .5rem;
			font-size: 1rem;
			width: 100%;
		}
	}



/* @group Incidents */

.incident {
	clear: both;
	float: none;
	h1 {
		font-size: 1.125rem;
	}
	dl {
		margin-top: 1em;
		margin-bottom: 0;
	}
	dt {
		text-transform: uppercase;
		font-size: 12px;
		font-size: 0.75rem;
		font-weight: bold;
		&:after {
			content: " :";
		}
	}
	dd {
		margin: 0 0 .5rem;
	}
	.related {
		margin-top: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		dt {
			font-weight: normal;
			text-transform: none;
			letter-spacing: 0.0625rem;
			color: $regular-text;
		}
		dd {
			padding-left: 1rem;
		}
	}
	.box {
		margin-top: 0;
	}
}
	.incident-primary-meta {
		a {
			text-decoration: none;
		}
	}
	.incident-primary {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px #eaeaea solid;
	}
	.incident-summary {
		dt, dd {
			width: auto;
		}
	}
	.incident-additional {
		dt {			
			float: left;
			clear: left;
			padding-right: 1rem;
		}	
	}
	dt.incident-location-details {
		clear: both;
		padding-top: 1rem;
		float: none;
	}



/* @end Incidents */

/* @end Page Structure */


/* @group Typography */

.logo {
	font-size: 16px;
	font-size: 1.5rem;
	font-family: 'Open Sans', verdana, sans-serif;
	a {
		text-decoration: none;
	}
}
.loud,
.distinct {
	font-size: 18px;
	font-size: 1.125rem; /* 18px */
}
.supporting,
.discrete {
	font-size: 14px;
	font-size: .875rem; /* 14px */	
}
.redacted {
	display: inline-block;
	padding: 0 8px;
	padding: 0 .5rem;
	border-bottom: none;
	letter-spacing: 0.1875rem;
	font-size: 16px;
	font-size: 1rem;
}

/* @end Typography */

/* @group Navigation */

.main-navigation ul {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
	li {
		display: inline-block;
	}
	li + li {
		padding-left: 1rem;
	}	
}

.site-footer {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	
		li {
		margin-top: 16px;
		margin-top: 1rem;
		}
	}
}

/* @end Navigation */


/* @group Icons */

.contact {
	.email {
		background: url(email-small.png) no-repeat left center;
		background-size: 21%;
		padding-left: 1.5rem;
		text-decoration: none;
		.no-backgroundSize & {
			background: none;
			text-decoration: underline;
			padding-left: none;
		}
	}
	.twitter {
		background: url(twitter-small.png) no-repeat left bottom;
		background-size: 13%;
		padding-left: 1.5rem;
		text-decoration: none;
		.no-backgroundSize & {
			background: none;
			text-decoration: underline;
			padding-left: none;
		}
	}
}
/* @end Icons */

/* @group Table */

table {
	font-size: 14px;
	font-size: 0.875rem;
	text-align: left;
	padding: 0;
	margin: 48px 0;
	margin: 4rem 0;
	max-width: 90rem;
}
caption {
	font-size: 18px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	padding-bottom: 1rem;
}
.date {
}
.total {
	border-left: 1px #aaa solid;
}
thead {
	vertical-align: bottom;
	border-bottom: 1px #eee solid;
}
th, td {
	padding: 0.5rem .5rem 0.75rem;
	margin: 0;
}
tbody th,
tbody td {
	vertical-align: top;
	border-bottom: 1px #bbb solid;
}
tbody th {
	font-weight: bold;
	letter-spacing: 1px;
	width: 9em;
	background-color: #eee;
	white-space: nowrap;
}
tbody td {
	width: 10em;
}
tbody tr:hover th,
tbody tr:hover td {
	background-color: lighten($note, 24%) ;
}

/* @end Table */


/* @group Forms */
	
.mail-list,
.mail-list input {
	display: block;
	text-align: center;
}
.mail-list legend {
	font-weight: bold;
	margin: 0 auto 14px;
	margin: 0 auto .875rem;
	label {
		cursor: pointer;
		text-align: center;
	}
}
input {
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0.07rem 0.07rem 0.1875rem rgba(0,0,0,0.1);
	:focus {
		border: .0625rem #aaa solid;		
	}
}

input, .btn {
	border: 1px #ccc solid;
	border: .0625rem #ccc solid;
	width: 100%;
	font-size: 1.125rem;
	line-height: 1.4rem;
	padding: 12px 18px;
	padding: .75rem 1.125rem;
	margin-bottom: 8px;
	margin-bottom: 0.5rem;
	margin-top: 0;
}
.btn {
	display: block;
	cursor: pointer;
	letter-spacing: .07em;
	input {
	    left: -1000em;
	    position: absolute;
	    width: 0;
	}
}
.holding .mail-list small {
	display: block;
	clear: both;
}

/* @end Forms */


/* @group Layout */


.site-footer {
	margin-top: 48px;
	margin-top: 3rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}

/* @end Layout */

@media all and (min-width: 40em) {

/* @group Page Structure */

.holding {
	max-width: 36rem;
	.site-intro p {
		text-align: left;

	}
}
.site-header,
.main,
.site-footer {
	max-width: 38rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}
.reading {
	max-width: 38rem;
}
.box {
	padding: 24px 24px 8px;
	padding: 1.5rem 1.5rem .5rem;
}

/* @end Page Structure */

/* @group Typography */
body {
		font-size: 18px;
		font-size: 1.125rem; /* 18px */
	}
.site-intro .logo {
	font-size: 48px;
	font-size: 3rem;
	margin-bottom: 2rem;
}
.loud {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.3;
}
.supporting {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.4em;
}
/* @end Typography */

/* @group Navigation */

.site-footer {
	ul {
		li { display: inline-block;}
		li + li {
			margin-left: 48px;
			margin-left: 3rem;
		}
	}
}

/* @end Navigation */

/* @group Forms */
	.mail-list {
		width: 34rem;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		input {
			text-align: left;
			margin-bottom: 1rem;
			&[type="email"] {
				max-width: 25rem;
				padding: 1rem 0 1rem 1.5rem;
				border-right: 0;
				letter-spacing: .07rem;
				display:block;
				clear: left;
				border-radius: 4px 0px 0px 4px;
				border-radius: .25rem 0px 0px .25rem;
			}
		}
	legend {
			margin: 0 0 14px;
			margin: 0 0 .875rem;
		}
	}
	.btn {
		max-width: 8rem;
		display: block;
		clear: right;
		padding: 1rem;
		border-radius: 4px 0 0 4px;
		border-radius: 0 .25rem .25rem 0;
	}
	.mail-list input,
	.mail-list .btn {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	
/* @end Forms */
}

@media all and (min-width: 80em) {
	.site-intro {
		padding-top: 3rem;
	}
	.site-header,
	.main,
	.site-footer {
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.reading > * {
	max-width: 38rem;
	}
}