&lt;nav class=&quot;section-nav&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;{{ link.templates-article }}&quot;&gt;About Incident Reports&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ link.templates-glossary }}&quot;&gt;Glossary&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ link.templates-article }}&quot;&gt;Reporting Recipe&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;