&lt;p&gt;&lt;a class=&quot;btn btn-alt incident-detailreport-link&quot; href=&quot;{{ link.template-incident-adopt }}&quot; title=&quot;help get more information about this incident&quot;&gt;Adopt this incident&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class=&quot;btn detail-report-link&quot;&gt;Detail Report Requested&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class=&quot;btn btn-alt incident-detailreport-link&quot; href=&quot;&lt;%= @incident.detailed_report.url %&gt;&quot; title=&quot;Download the Incident Detail Report for this incident to find more information&quot;&gt;See Incident Detail Report [PDF]&lt;/a&gt;&lt;/p&gt;