<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-swatch--black"></span>
		<span class="sg-label">#333333 ($color-black)</span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--primary"></span>
		<span class="sg-label">#467719 ($color-primary)</span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--salient"></span>
		<span class="sg-label">#F1CB7A ($color-salient)</span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--grey"></span>
		<span class="sg-label">#9a9a9a ($color-grey)</span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--white"></span>
		<span class="sg-label">#ffffff ($color-white)</span>
	</li>
</ul>