<p class="msg msg-error">This is what error text looks like</p>
<p class="msg msg-valid">This is what valid text looks like</p>
<p class="msg msg-notice">This is what note text looks like</p>
<p class="msg msg-information">This is what information text looks like.</p>
