<abbr class="redacted describedby" title="Redacted to protect an identity." data-toggle="tooltip" data-placement="auto" aria-describedby="redacted-tip">s. 47F(1)</abbr>

<div class="tooltip" aria-hidden="true" role="tooltip">Redacted by Immigration Department to protect an identity.</div>

