<ul class="primary-nav">
    <li><a href="{{ link.templates-incident-index }}">Data</a></li>
    <li><a href="/investigations">Investigations</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contribute">Contribute</a></li>
</ul>
