<nav class="section-nav">
    <ul>
        <li><a href="{{ link.templates-article }}">About Incident Reports</a></li>
        <li><a href="{{ link.templates-glossary }}">Glossary</a></li>
        <li><a href="{{ link.templates-article }}">Reporting Recipe</a></li>
    </ul>
</nav>