&lt;a class=&quot;banner&quot; href=&quot;{{ link.templates-homepage }}&quot; rel=&quot;home&quot;&gt;
    &lt;h1 class=&quot;logo&quot;&gt;Detention Logs&lt;/h1&gt;
    &lt;p class=&quot;tagline&quot;&gt;Inside Australia's immigration detention&lt;/p&gt;
&lt;/a&gt;
