    <dl class="glossary-list">
        <dt class="glossary-term">{{ glossary-item.abbreviation}}</dt>
            <dd class="glossary-definition">{{{ glossary-item.definition.description}}}</dd>
    </dl>
