<ul class="contact-nav">
    <li><a class="twitter" href="https://twitter.com/DetentionLogs/" title="Detention Logs on Twitter" rel="me">@detentionlogs</a></li>
    <li><a class="github" href="https://github.com/DetentionLogs/" title="Detention Logs on Github" rel="me">GitHub</a></li>
    <li><a class="email" href="/about/#contact" title="Contact Detention Logs.">Contact/PGP</a></li>
</ul>