  <%= render 'layouts/site-footer' %>

  <%# javascript_include_tag 'jquery.min', 'global.min' %>

  <% if admin_signed_in? %>
      <%= javascript_include_tag 'jquery.min','jquery_ujs.min.js' %>
  <% end %>

	</body>
</html>
