<ul class="primary-nav">
    <li><%= link_to incidents_path %></li>
    <li><a href="/investigations">Investigations</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contribute">Contribute</a></li>
</ul>
