<ul class="secondary-nav">
    <li><a href="/glossary">Glossary</a></li>
    <li><a href="/investigations/recipe">Reporting Recipe</a></li>
    <li><a href="/principles">Principles</a></li>
    <li><a href="/copyright" rel="license">Copyright: CC BY</a></li>
</ul>
