<ul class="secondary-nav">
    <li><%= link_to "Glossary", :glossary %></li>
    <li><%= link_to "Reporting Recipe", :investigations_recipe %></li>
    <li><%= link_to "Principles", :principles %></li>
    <!-- <li><%= link_to "Copyright: CC BY", :copyright %></li> -->
</ul>
