<footer class="site-footer" role="contentinfo">
    <nav class="footer-nav" id="navigation" role="navigation">
        <%= render "layouts/primary-nav" %>
        <%= render "layouts/secondary-nav" %>
    </nav>

    <%= render "layouts/contact-nav" %>
</footer>
