<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>
	    | Detention Logs
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "incidents.js", ":defaults", "moment.min.js" %>


</head>
<body>
	<header class="site-header">
    	<h1 class="logo"><a href="http://detentionlogs.com.au" rel="home">Detention Logs</a></h1>
    	<nav class="main-nav">
    		<a href="#navigation" class="menu-btn">Menu</a>
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><a href="http://detentionlogs.com.au/about">About</a></li>
			</ul>
		</nav>
    </header>


    <%= yield %>

	<footer role="contentinfo" class="main site-footer">
		<nav class="footer-nav" role="navigation" id="navigation">
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><a href="http://detentionlogs.com.au/about">About</a></li>
			</ul>
			<ul class="supporting">
				<li><a href="http://detentionlogs.com.au/about/resources">Resources</a></li>
				<li><a href="http://detentionlogs.com.au/glossary">Glossary</a></li>
				<li><a href="http://detentionlogs.com.au/principles">Principles</a></li>				
			</ul>
		</nav>
		<ul class="footer-contact contact  supporting">
			<li><a class="twitter" href="https://twitter.com/DetentionLogs/" title="Detention Logs on Twitter" rel="me">@detentionlogs</a></li>
			<li><a class="github" href="https://github.com/DetentionLogs/" title="Detention Logs on Github" rel="me">GitHub</a></li>
		</ul>
		<ul class="footer-contact contact  supporting">
			<li><a class="email" href="">Contact</a></li>
<!-- 			<li><a class="phone google-voice" href="">+08 173 453 235</a></li> -->
		</ul>
		<article id="copyright" class="supporting">
			<h2 class="discrete">Using this content / Copyright</h2>
			<p>Umami synth dreamcatcher skateboard, pickled pop-up occupy pug.  Williamsburg shoreditch pop-up, street art keytar before they sold out authentic sriracha semiotics truffaut hella plaid wes anderson church-key carles.  Gastropub aesthetic +1, blue bottle ethnic hoodie cliche.</p>
			<p>Semiotics actually bespoke, high life street art +1 carles fanny pack neutra williamsburg craft beer whatever 90's.  Forage truffaut wes anderson, narwhal photo booth food truck actually swag next level.</p>
		</article>
	</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Glossary replacer -->
	<script>
		$(document).ready(function(){
			
		    $(".incident-item, .incident").each(
				
				function(){
					var redacted = $(this).html();
					redacted = redacted.replace(/s\.\s*47F\(1\)/g, '<abbr class="redacted" title="text redacted under section 47F(1) of the FOI Act ###">s. 47F(1)</abbr>');
					$(this).html(redacted);
					
					var observation = $(this).html();
					observation = observation.replace(/\bobs\b/i, '<abbr title="observation">OBS</abbr>'); //this should be fixed replace that actual text, so as to keep the capitalisation used by the original author. 
					$(this).html(observation);
					
					var idc = $(this).html();
					idc = idc.replace(/\bidc\b/i, '<abbr title="Immigration Detention Centre">IDC</abbr>'); //this should be fixed replace that actual text, so as to keep the capitalisation used by the original author. 
					$(this).html(idc);
				})
			
			
 		});
	</script>
	<!-- Collapsable content -->
	
	<script>
		/*
		 * --------------------------------------------------------------------
		 * jQuery collapsible plugin
		 * Author: Scott Jehl, scott@filamentgroup.com
		 * Copyright (c) 2009 Filament Group 
		 * licensed under MIT (filamentgroup.com/examples/mit-license.txt)
		 * --------------------------------------------------------------------
		 * 
		 * Arrow-key and collapsed to begin additions by James Frank, 2011
		 * 
		 * --------------------------------------------------------------------
		 */
		
		$.fn.collapsible = function(collapsed){
			return $(this).each(function(){
			
				//define
				var collapsibleHeading = $(this);
				var collapsibleContent = collapsibleHeading.next();
				
				//modify markup & attributes
				collapsibleHeading.addClass('collapsible-heading')
					.prepend('<span class="collapsible-heading-status"></span>')
					.wrapInner('<a href="#" class="collapsible-heading-toggle"></a>');
					
				collapsibleContent.addClass('collapsible-content');
				
				//events
				collapsibleHeading	
					.bind('collapse', function(){
						$(this)
							.addClass('collapsible-heading-collapsed')
							.find('.collapsible-heading-status').text('Show ');
												
						collapsibleContent.slideUp(function(){
							$(this).addClass('collapsible-content-collapsed').removeAttr('style').attr('aria-hidden',true);
						});
					})
					.bind('expand', function(){
						$(this)
							.removeClass('collapsible-heading-collapsed')
							.find('.collapsible-heading-status').text('Hide ');
												
						collapsibleContent
							.slideDown(function(){
								$(this).removeClass('collapsible-content-collapsed').removeAttr('style').attr('aria-hidden',false);
							});
					})
					.click(function(){ 
						if( $(this).is('.collapsible-heading-collapsed') ){
							$(this).trigger('expand'); 
						}	
						else {
							$(this).trigger('collapse'); 
						}
						return false;
					})
					.keydown(function(e){ 
						var code = (e.keyCode ? e.keyCode : e.which);
						switch (code) {
							case 13:
								$(this).click(); 
								break;
							case 39:
								$(this).trigger('expand'); 
								break;
							case 37:
								$(this).trigger('collapse'); 
								break;	
							default:
								return true;
								break;
						}
						return false;
					});
				
				if(collapsed)
					collapsibleHeading.trigger('collapse');
			});	
			
		};
		$(document).ready(function(){
			$('.add-details').collapsible(true);
		});
</script></body>
</html>