<%= render 'layouts/header' %>

<%= render 'layouts/sub-nav', :breadcrumbs => false %>

<section class="body-container" id="main" role="main" >
  <article class="main-reading">
    <%= yield %>
  </article>
</section>

<%= render 'layouts/footer' %>
